{% extends 'base.html' %} {% block content %}
<div
  class="bg-muted-100 dark:bg-muted-900 relative min-h-screen w-full overflow-x-hidden px-4 transition-all duration-300 xl:px-10 xl:max-w-[calc(100%_-_300px)] xl:ms-[300px]"
>
  <div class="mx-auto w-full max-w-7xl">
    <!--[-->
    <div class="relative z-[1] mb-5 flex h-16 items-center gap-2">
      <button
        type="button"
        class="flex size-10 items-center justify-center -ms-3"
      >
        <div class="scale-90 relative size-5">
          <span
            class="-rotate-45 rtl:rotate-45 max-w-[75%] top-1 bg-primary-500 absolute block h-0.5 w-full transition-all duration-300"
          ></span
          ><span
            class="opacity-0 translate-x-4 rtl:-translate-x-4 bg-primary-500 absolute top-1/2 block h-0.5 w-full max-w-[50%] transition-all duration-300"
          ></span
          ><span
            class="rotate-45 rtl:-rotate-45 max-w-[75%] bottom-1 bg-primary-500 absolute block h-0.5 w-full transition-all duration-300"
          ></span>
        </div>
      </button>
      <h1
        class="nui-heading nui-heading-2xl nui-weight-light nui-lead-normal text-muted-800 hidden md:block dark:text-white"
      >
        <!--[-->
        <!--[-->Form layout 1
        <!--]-->
        <!--]-->
      </h1>
      <div class="ms-auto"></div>
      <div class="flex items-center gap-2 h-16">
        <!--[-->
        <!--[-->
        <!--]-->
        <!--[--><button
          type="button"
          class="border-muted-200 hover:ring-muted-200 dark:hover:ring-muted-700 dark:border-muted-700 dark:bg-muted-800 dark:ring-offset-muted-900 flex size-9 items-center justify-center rounded-full border bg-white ring-1 ring-transparent transition-all duration-300 hover:ring-offset-4"
        >
          <img
            class="size-7 rounded-full"
            src="/img/icons/flags/united-states-of-america.svg"
            alt="flag icon"
          />
        </button>
        <!--]-->
        <!--[-->
        <div class="group inline-flex items-center justify-center text-right">
          <div data-headlessui-state class="relative size-9 text-left">
            <div
              id="headlessui-menu-button-19246"
              aria-haspopup="menu"
              aria-expanded="false"
              data-headlessui-state
            >
              <button
                type="button"
                class="group-hover:ring-muted-200 dark:group-hover:ring-muted-700 dark:ring-offset-muted-900 inline-flex size-9 items-center justify-center rounded-full ring-1 ring-transparent transition-all duration-300 group-hover:ring-offset-4"
              >
                <span
                  class="border-muted-200 dark:border-muted-700 dark:bg-muted-800 flex size-9 items-center justify-center rounded-full border bg-white"
                  ><svg
                    xmlns="http://www.w3.org/2000/svg"
                    xmlns:xlink="http://www.w3.org/1999/xlink"
                    aria-hidden="true"
                    role="img"
                    class="icon text-muted-400 size-5"
                    style=""
                    width="1em"
                    height="1em"
                    viewBox="0 0 256 256"
                    data-v-7663d7ec
                  >
                    <g fill="currentColor">
                      <path
                        d="M208 192H48a8 8 0 0 1-6.88-12C47.71 168.6 56 139.81 56 104a72 72 0 0 1 144 0c0 35.82 8.3 64.6 14.9 76a8 8 0 0 1-6.9 12"
                        opacity=".2"
                      />
                      <path
                        d="M221.8 175.94c-5.55-9.56-13.8-36.61-13.8-71.94a80 80 0 1 0-160 0c0 35.34-8.26 62.38-13.81 71.94A16 16 0 0 0 48 200h40.81a40 40 0 0 0 78.38 0H208a16 16 0 0 0 13.8-24.06M128 216a24 24 0 0 1-22.62-16h45.24A24 24 0 0 1 128 216m-80-32c7.7-13.24 16-43.92 16-80a64 64 0 1 1 128 0c0 36.05 8.28 66.73 16 80Z"
                      />
                    </g></svg
                ></span>
              </button>
            </div>
            <!---->
          </div>
        </div>
        <!--]-->
        <!--[--><button
          type="button"
          class="border-muted-200 hover:ring-muted-200 dark:hover:ring-muted-700 dark:border-muted-700 dark:bg-muted-800 dark:ring-offset-muted-900 flex size-9 items-center justify-center rounded-full border bg-white ring-1 ring-transparent transition-all duration-300 hover:ring-offset-4"
        >
          <svg
            xmlns="http://www.w3.org/2000/svg"
            xmlns:xlink="http://www.w3.org/1999/xlink"
            aria-hidden="true"
            role="img"
            class="icon text-muted-400 size-5"
            style=""
            width="1em"
            height="1em"
            viewBox="0 0 256 256"
            data-v-7663d7ec
          >
            <g fill="currentColor">
              <path
                d="M112 80a32 32 0 1 1-32-32a32 32 0 0 1 32 32m64 32a32 32 0 1 0-32-32a32 32 0 0 0 32 32m-96 32a32 32 0 1 0 32 32a32 32 0 0 0-32-32m96 0a32 32 0 1 0 32 32a32 32 0 0 0-32-32"
                opacity=".2"
              />
              <path
                d="M80 40a40 40 0 1 0 40 40a40 40 0 0 0-40-40m0 64a24 24 0 1 1 24-24a24 24 0 0 1-24 24m96 16a40 40 0 1 0-40-40a40 40 0 0 0 40 40m0-64a24 24 0 1 1-24 24a24 24 0 0 1 24-24m-96 80a40 40 0 1 0 40 40a40 40 0 0 0-40-40m0 64a24 24 0 1 1 24-24a24 24 0 0 1-24 24m96-64a40 40 0 1 0 40 40a40 40 0 0 0-40-40m0 64a24 24 0 1 1 24-24a24 24 0 0 1-24 24"
              />
            </g>
          </svg>
        </button>
        <!--]-->
        <!--[-->
        <div class="group inline-flex items-center justify-center text-right">
          <div data-headlessui-state class="relative size-9 text-left">
            <button
              class="group-hover:ring-primary-500 dark:ring-offset-muted-900 inline-flex size-9 items-center justify-center rounded-full ring-1 ring-transparent transition-all duration-300 group-hover:ring-offset-4"
              id="headlessui-menu-button-19248"
              aria-haspopup="menu"
              aria-expanded="false"
              data-headlessui-state
            >
              <div
                class="relative inline-flex size-9 items-center justify-center rounded-full"
              >
                <img
                  src="/img/avatars/2.svg"
                  class="max-w-full rounded-full object-cover shadow-sm dark:border-transparent"
                  alt
                />
              </div>
            </button>
            <!---->
          </div>
        </div>
        <!--]-->
        <!--]-->
      </div>
    </div>
    <!--]-->
    <main>
      <!--[-->
      <!--[-->
      <div
        class="nuxt-loading-indicator"
        style="
          position: fixed;
          top: 0;
          right: 0;
          left: 0;
          pointer-events: none;
          width: auto;
          height: 3px;
          opacity: 0;
          background: rgb(var(--color-primary-500));
          background-size: Infinity% auto;
          transform: scaleX(0%);
          transform-origin: left;
          transition: transform 0.1s, height 0.4s, opacity 0.4s;
          z-index: 999999;
        "
      ></div>
      <div>
        <div>
          <div
            class="mb-4 flex flex-col justify-between md:flex-row md:items-center"
          >
            <div
              class="ltablet:max-w-full flex max-w-[425px] flex-col items-center gap-4 text-center md:flex-row md:text-left lg:max-w-full"
            >
              <div>
                <h2
                  class="nui-heading nui-heading-xl nui-weight-light nui-lead-tight text-muted-800 dark:text-white"
                >
                  <!--[--><span>New company</span>
                  <!--]-->
                </h2>
                <p
                  class="nui-paragraph nui-paragraph-sm nui-weight-normal nui-lead-normal"
                >
                  <!--[--><span class="text-muted-500">
                    Create a new company record
                  </span>
                  <!--]-->
                </p>
              </div>
            </div>
            <div
              class="mt-4 flex items-center justify-center gap-2 md:mt-0 md:justify-start"
            >
              <button
                type="button"
                rel
                target
                class="nui-button-action nui-button-default nui-button-rounded"
              >
                <!--[--><svg
                  xmlns="http://www.w3.org/2000/svg"
                  xmlns:xlink="http://www.w3.org/1999/xlink"
                  aria-hidden="true"
                  role="img"
                  class="icon size-3"
                  style=""
                  width="1em"
                  height="1em"
                  viewBox="0 0 24 24"
                  data-v-7663d7ec
                >
                  <path
                    fill="none"
                    stroke="currentColor"
                    stroke-linecap="round"
                    stroke-linejoin="round"
                    stroke-width="2"
                    d="m12 19l-7-7l7-7m7 7H5"
                  /></svg
                ><span>Cancel</span
                ><!--]-->
              </button>
            </div>
          </div>
          <div class="nui-card nui-card-rounded nui-card-white">
            <!--[-->
            <form
              method="POST"
              action=""
              class="divide-muted-200 dark:divide-muted-700 grid divide-x sm:grid-cols-2"
            >
              <div
                rounded="lg"
                class="bg-muted-50 dark:bg-muted-800/60 space-y-8 p-10"
              >
                <div class="mx-auto flex w-full max-w-[410px] flex-col">
                  <div>
                    <div
                      class="relative mb-5 flex flex-col items-center justify-center gap-4"
                    >
                      <div class="nui-fullscreen-dropfile">
                        <!---->
                        <div
                          style="display: none"
                          class="nui-fullscreen-dropfile-inner"
                        >
                          <!---->
                        </div>
                      </div>
                      <div class="group/nui-file-headless relative">
                        <!--[-->
                        <div class="relative size-20">
                          <img
                            src="/img/avatars/company.svg"
                            alt="Upload preview"
                            class="bg-muted-200 dark:bg-muted-700/60 size-20 rounded-full object-cover object-center dark:invert"
                          />
                          <div class="absolute bottom-0 end-0 z-20">
                            <div
                              class="relative"
                              data-nui-tooltip="Upload image"
                            >
                              <button
                                type="button"
                                rel
                                target
                                class="nui-button-icon nui-button-full nui-button-small nui-button-default"
                              >
                                <!--[--><svg
                                  xmlns="http://www.w3.org/2000/svg"
                                  xmlns:xlink="http://www.w3.org/1999/xlink"
                                  aria-hidden="true"
                                  role="img"
                                  class="icon size-4"
                                  style=""
                                  width="1em"
                                  height="1em"
                                  viewBox="0 0 24 24"
                                  data-v-7663d7ec
                                >
                                  <path
                                    fill="none"
                                    stroke="currentColor"
                                    stroke-linecap="round"
                                    stroke-linejoin="round"
                                    stroke-width="2"
                                    d="M5 12h14m-7-7v14"
                                  /></svg
                                ><!--]-->
                              </button>
                            </div>
                          </div>
                        </div>
                        <!--]--><input
                          id="ninja-input-10797"
                          type="file"
                          accept="image/*"
                          class="hidden"
                        />
                      </div>
                      <!---->
                    </div>
                    <div class="grid grid-cols-12 gap-4">
                      <div class="ltablet:col-span-6 col-span-12 lg:col-span-6">
                        <!--[-->
                        <div
                          class="nui-input-wrapper nui-input-default nui-input-md nui-input-rounded"
                        >
                          <label for="ninja-input-10798" class="nui-input-label"
                            ><!--[-->Company Name<!--]--></label
                          >
                          <div class="nui-input-outer">
                            <div>
                              <input
                                id="ninja-input-10798"
                                type="text"
                                class="nui-input"
                                placeholder="Ex: Acme Inc."
                                value
                              />
                              <!---->
                              <!---->
                              <!---->
                              <!--[-->
                              <!--]-->
                            </div>
                            <!---->
                          </div>
                        </div>
                        <!--]-->
                      </div>
                      <div class="ltablet:col-span-6 col-span-12 lg:col-span-6">
                        <!--[-->
                        <div
                          class="nui-input-wrapper nui-input-default nui-input-md nui-input-rounded"
                        >
                          <label for="ninja-input-10799" class="nui-input-label"
                            ><!--[-->Company Email<!--]--></label
                          >
                          <div class="nui-input-outer">
                            <div>
                              <input
                                id="ninja-input-10799"
                                type="email"
                                class="nui-input"
                                placeholder="Ex: hello@acme.co"
                                value
                              />
                              <!---->
                              <!---->
                              <!---->
                              <!--[-->
                              <!--]-->
                            </div>
                            <!---->
                          </div>
                        </div>
                        <!--]-->
                      </div>
                      <div class="col-span-12">
                        <!--[-->
                        <div
                          class="nui-input-wrapper nui-input-default nui-input-md nui-input-rounded nui-has-icon"
                        >
                          <label for="ninja-input-10800" class="nui-input-label"
                            ><!--[-->Company website<!--]--></label
                          >
                          <div class="nui-input-outer">
                            <div>
                              <input
                                id="ninja-input-10800"
                                type="text"
                                class="nui-input"
                                placeholder="Ex: https://acme.co"
                                value
                              />
                              <!---->
                              <!---->
                              <div class="nui-input-icon">
                                <!--[--><svg
                                  xmlns="http://www.w3.org/2000/svg"
                                  xmlns:xlink="http://www.w3.org/1999/xlink"
                                  aria-hidden="true"
                                  role="img"
                                  class="icon nui-input-icon-inner"
                                  style=""
                                  width="1em"
                                  height="1em"
                                  viewBox="0 0 24 24"
                                  data-v-7663d7ec
                                >
                                  <g
                                    fill="none"
                                    stroke="currentColor"
                                    stroke-linecap="round"
                                    stroke-linejoin="round"
                                    stroke-width="2"
                                  >
                                    <circle cx="12" cy="12" r="10" />
                                    <path
                                      d="M12 2a14.5 14.5 0 0 0 0 20a14.5 14.5 0 0 0 0-20M2 12h20"
                                    />
                                  </g>
                                </svg>
                                <!--]-->
                              </div>
                              <!--[-->
                              <!--]-->
                            </div>
                            <!---->
                          </div>
                        </div>
                        <!--]-->
                      </div>
                      <div class="col-span-12">
                        <!--[-->
                        <div class="relative flex w-full">
                          <div
                            class="h-10 top-[1.5rem] absolute start-0 flex items-center"
                          >
                            <div
                              class="nui-dropdown [&amp;_.nui-text-button]:border-muted-200 dark:[&amp;_.nui-text-button]:border-muted-800 flex h-full [&amp;_.nui-text-button]:relative [&amp;_.nui-text-button]:z-10 [&amp;_.nui-text-button]:size-full [&amp;_.nui-text-button]:border-e [&amp;_.nui-text-button]:pe-2 [&amp;_.nui-text-button]:ps-4 [&amp;_.nui-text-button]:rounded-s"
                              data-v-84945349
                            >
                              <div
                                data-headlessui-state
                                class="nui-menu"
                                data-v-84945349
                              >
                                <!--[--><button
                                  class="nui-text-button nui-focus"
                                  id="headlessui-menu-button-19250"
                                  aria-haspopup="menu"
                                  aria-expanded="false"
                                  data-headlessui-state
                                  data-v-84945349
                                  data-v-84945349
                                >
                                  <!--[--><!--[--><svg
                                    xmlns="http://www.w3.org/2000/svg"
                                    xmlns:xlink="http://www.w3.org/1999/xlink"
                                    aria-hidden="true"
                                    role="img"
                                    class="icon -mt-0.5 w-4"
                                    style=""
                                    width="1em"
                                    height="1em"
                                    viewBox="0 0 256 256"
                                    data-v-7663d7ec
                                  >
                                    <path
                                      fill="currentColor"
                                      d="m222.37 158.46l-47.11-21.11l-.13-.06a16 16 0 0 0-15.17 1.4a8.12 8.12 0 0 0-.75.56L134.87 160c-15.42-7.49-31.34-23.29-38.83-38.51l20.78-24.71c.2-.25.39-.5.57-.77a16 16 0 0 0 1.32-15.06v-.12L97.54 33.64a16 16 0 0 0-16.62-9.52A56.26 56.26 0 0 0 32 80c0 79.4 64.6 144 144 144a56.26 56.26 0 0 0 55.88-48.92a16 16 0 0 0-9.51-16.62M176 208A128.14 128.14 0 0 1 48 80a40.2 40.2 0 0 1 34.87-40a.61.61 0 0 0 0 .12l21 47l-20.67 24.74a6.13 6.13 0 0 0-.57.77a16 16 0 0 0-1 15.7c9.06 18.53 27.73 37.06 46.46 46.11a16 16 0 0 0 15.75-1.14a8.44 8.44 0 0 0 .74-.56L168.89 152l47 21.05h.11A40.21 40.21 0 0 1 176 208"
                                    /></svg
                                  ><!--]--><!--]--><svg
                                    xmlns="http://www.w3.org/2000/svg"
                                    xmlns:xlink="http://www.w3.org/1999/xlink"
                                    aria-hidden="true"
                                    role="img"
                                    class="icon nui-chevron"
                                    data-v-84945349
                                    style=""
                                    width="1em"
                                    height="1em"
                                    viewBox="0 0 24 24"
                                    data-v-7663d7ec
                                  >
                                    <path
                                      fill="none"
                                      stroke="currentColor"
                                      stroke-linecap="round"
                                      stroke-linejoin="round"
                                      stroke-width="2"
                                      d="m6 9l6 6l6-6"
                                    />
                                  </svg>
                                </button>
                                <div
                                  class=""
                                  style="
                                    position: absolute;
                                    left: 0;
                                    top: 0;
                                    z-index: 20;
                                  "
                                >
                                  <!---->
                                </div>
                                <!--]-->
                              </div>
                            </div>
                          </div>
                          <div
                            class="nui-input-wrapper nui-input-default nui-input-md nui-input-rounded relative grow [&amp;_.nui-input-placeload]:ms-16"
                          >
                            <label
                              for="ninja-input-10801"
                              class="nui-input-label"
                              ><!--[-->Company Phone<!--]--></label
                            >
                            <div class="nui-input-outer">
                              <div>
                                <input
                                  id="ninja-input-10801"
                                  type="tel"
                                  autocomplete="tel"
                                  class="nui-input !ps-[4.5rem] !pe-8"
                                  placeholder="Ex: +1 555 555 5555"
                                  value
                                />
                                <!---->
                                <!---->
                                <!---->
                                <!--[-->
                                <!--]-->
                              </div>
                              <!---->
                            </div>
                          </div>
                          <!--[-->
                          <!---->
                          <!--]-->
                        </div>
                        <!--]-->
                      </div>
                    </div>
                    <div class="mb-6 mt-4">
                      <label class="nui-label pb-2 text-[0.825rem]"
                        >Company type</label
                      >
                      <div
                        class="ptablet:grid-cols-2 ltablet:grid-cols-3 grid gap-4 lg:grid-cols-3"
                      >
                        <!--[-->
                        <div class="group/nui-radio-headless relative">
                          <!---->
                          <div class="relative">
                            <input
                              id="ninja-input-10802"
                              type="radio"
                              value="team_member_1"
                              class="peer absolute inset-0 z-20 h-full w-full cursor-pointer opacity-0"
                            />
                            <!--[-->
                            <div
                              class="nui-card nui-card-rounded nui-card-white text-muted-400 peer-checked:!border-primary-500 peer-checked:[&amp;_.child]:!text-primary-500 relative border-2 px-2 py-4 grayscale peer-checked:grayscale-0"
                            >
                              <!--[-->
                              <div
                                class="flex w-full flex-col items-center gap-2 text-center"
                              >
                                <svg
                                  xmlns="http://www.w3.org/2000/svg"
                                  xmlns:xlink="http://www.w3.org/1999/xlink"
                                  aria-hidden="true"
                                  role="img"
                                  class="icon child mx-auto size-5"
                                  style=""
                                  width="1em"
                                  height="1em"
                                  viewBox="0 0 256 256"
                                  data-v-7663d7ec
                                >
                                  <g fill="currentColor">
                                    <path
                                      d="M216 115.54V208a8 8 0 0 1-8 8H48a8 8 0 0 1-8-8v-92.46a8 8 0 0 1 2.62-5.92l80-75.54a8 8 0 0 1 10.77 0l80 75.54a8 8 0 0 1 2.61 5.92"
                                      opacity=".2"
                                    />
                                    <path
                                      d="m218.83 103.77l-80-75.48a1.14 1.14 0 0 1-.11-.11a16 16 0 0 0-21.53 0l-.11.11l-79.91 75.48A16 16 0 0 0 32 115.55V208a16 16 0 0 0 16 16h160a16 16 0 0 0 16-16v-92.45a16 16 0 0 0-5.17-11.78M208 208H48v-92.45l.11-.1L128 40l79.9 75.43l.11.1Z"
                                    />
                                  </g>
                                </svg>
                                <div>
                                  <h4
                                    class="nui-heading nui-heading-sm nui-weight-medium nui-lead-none"
                                  >
                                    <!--[-->Solo
                                    <!--]-->
                                  </h4>
                                  <p
                                    class="nui-text nui-content-xs nui-weight-normal nui-lead-normal text-muted-400"
                                  >
                                    <!--[-->Small company
                                    <!--]-->
                                  </p>
                                </div>
                                <div
                                  class="child text-muted-300 absolute right-2 top-2 ms-auto"
                                >
                                  <div
                                    class="size-2 rounded-full bg-current"
                                  ></div>
                                </div>
                              </div>
                              <!--]-->
                            </div>
                            <!--]-->
                          </div>
                        </div>
                        <!--]-->
                        <!--[-->
                        <div class="group/nui-radio-headless relative">
                          <!---->
                          <div class="relative">
                            <input
                              id="ninja-input-10803"
                              type="radio"
                              value="team_member_2"
                              class="peer absolute inset-0 z-20 h-full w-full cursor-pointer opacity-0"
                            />
                            <!--[-->
                            <div
                              class="nui-card nui-card-rounded nui-card-white text-muted-400 peer-checked:!border-primary-500 peer-checked:[&amp;_.child]:!text-primary-500 relative border-2 px-2 py-4 grayscale peer-checked:grayscale-0"
                            >
                              <!--[-->
                              <div
                                class="flex w-full flex-col items-center gap-2 text-center"
                              >
                                <svg
                                  xmlns="http://www.w3.org/2000/svg"
                                  xmlns:xlink="http://www.w3.org/1999/xlink"
                                  aria-hidden="true"
                                  role="img"
                                  class="icon child mx-auto size-5"
                                  style=""
                                  width="1em"
                                  height="1em"
                                  viewBox="0 0 256 256"
                                  data-v-7663d7ec
                                >
                                  <g fill="currentColor">
                                    <path
                                      d="M224 96v16a32 32 0 0 1-64 0V96H96v16a32 32 0 0 1-64 0V96l14.34-50.2A8 8 0 0 1 54 40h148a8 8 0 0 1 7.69 5.8Z"
                                      opacity=".2"
                                    />
                                    <path
                                      d="M232 96a7.89 7.89 0 0 0-.3-2.2l-14.35-50.2A16.07 16.07 0 0 0 202 32H54a16.07 16.07 0 0 0-15.35 11.6L24.31 93.8A7.89 7.89 0 0 0 24 96v16a40 40 0 0 0 16 32v64a16 16 0 0 0 16 16h144a16 16 0 0 0 16-16v-64a40 40 0 0 0 16-32ZM54 48h148l11.42 40H42.61Zm50 56h48v8a24 24 0 0 1-48 0Zm-16 0v8a24 24 0 0 1-48 0v-8Zm112 104H56v-56.8a40.57 40.57 0 0 0 8 .8a40 40 0 0 0 32-16a40 40 0 0 0 64 0a40 40 0 0 0 32 16a40.57 40.57 0 0 0 8-.8Zm-8-72a24 24 0 0 1-24-24v-8h48v8a24 24 0 0 1-24 24"
                                    />
                                  </g>
                                </svg>
                                <div>
                                  <h4
                                    class="nui-heading nui-heading-sm nui-weight-medium nui-lead-none"
                                  >
                                    <!--[-->LLC
                                    <!--]-->
                                  </h4>
                                  <p
                                    class="nui-text nui-content-xs nui-weight-normal nui-lead-normal text-muted-400"
                                  >
                                    <!--[-->Medium company
                                    <!--]-->
                                  </p>
                                </div>
                                <div
                                  class="child text-muted-300 absolute right-2 top-2 ms-auto"
                                >
                                  <div
                                    class="size-2 rounded-full bg-current"
                                  ></div>
                                </div>
                              </div>
                              <!--]-->
                            </div>
                            <!--]-->
                          </div>
                        </div>
                        <!--]-->
                        <!--[-->
                        <div class="group/nui-radio-headless relative">
                          <!---->
                          <div class="relative">
                            <input
                              id="ninja-input-10804"
                              type="radio"
                              value="team_member_3"
                              class="peer absolute inset-0 z-20 h-full w-full cursor-pointer opacity-0"
                            />
                            <!--[-->
                            <div
                              class="nui-card nui-card-rounded nui-card-white text-muted-400 peer-checked:!border-primary-500 peer-checked:[&amp;_.child]:!text-primary-500 relative border-2 px-2 py-4 grayscale peer-checked:grayscale-0"
                            >
                              <!--[-->
                              <div
                                class="flex w-full flex-col items-center gap-2 text-center"
                              >
                                <svg
                                  xmlns="http://www.w3.org/2000/svg"
                                  xmlns:xlink="http://www.w3.org/1999/xlink"
                                  aria-hidden="true"
                                  role="img"
                                  class="icon child mx-auto size-5"
                                  style=""
                                  width="1em"
                                  height="1em"
                                  viewBox="0 0 256 256"
                                  data-v-7663d7ec
                                >
                                  <g fill="currentColor">
                                    <path
                                      d="M136 32v184H40V85.35a8 8 0 0 1 3.56-6.66l80-53.33A8 8 0 0 1 136 32"
                                      opacity=".2"
                                    />
                                    <path
                                      d="M240 208h-16V96a16 16 0 0 0-16-16h-64V32a16 16 0 0 0-24.88-13.32L39.12 72A16 16 0 0 0 32 85.34V208H16a8 8 0 0 0 0 16h224a8 8 0 0 0 0-16M208 96v112h-64V96ZM48 85.34L128 32v176H48ZM112 112v16a8 8 0 0 1-16 0v-16a8 8 0 1 1 16 0m-32 0v16a8 8 0 0 1-16 0v-16a8 8 0 1 1 16 0m0 56v16a8 8 0 0 1-16 0v-16a8 8 0 0 1 16 0m32 0v16a8 8 0 0 1-16 0v-16a8 8 0 0 1 16 0"
                                    />
                                  </g>
                                </svg>
                                <div>
                                  <h4
                                    class="nui-heading nui-heading-sm nui-weight-medium nui-lead-none"
                                  >
                                    <!--[-->Corp
                                    <!--]-->
                                  </h4>
                                  <p
                                    class="nui-text nui-content-xs nui-weight-normal nui-lead-normal text-muted-400"
                                  >
                                    <!--[-->Bigger company
                                    <!--]-->
                                  </p>
                                </div>
                                <div
                                  class="child text-muted-300 absolute right-2 top-2 ms-auto"
                                >
                                  <div
                                    class="size-2 rounded-full bg-current"
                                  ></div>
                                </div>
                              </div>
                              <!--]-->
                            </div>
                            <!--]-->
                          </div>
                        </div>
                        <!--]-->
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <div rounded="lg" class="w-full space-y-8 p-10">
                <div class="mx-auto w-full max-w-[410px] sm:pt-28">
                  <div class="grid grid-cols-12 gap-4">
                    <div class="ltablet:col-span-6 col-span-12 lg:col-span-6">
                      <!--[-->
                      <div
                        class="nui-select-wrapper nui-select-default nui-select-md nui-select-rounded"
                      >
                        <label for="ninja-input-10805" class="nui-select-label"
                          ><!--[-->Income<!--]--></label
                        >
                        <div class="nui-select-outer">
                          <select id="ninja-input-10805" class="nui-select">
                            <!----><!--[-->
                            <option value hidden></option>
                            <option value="0 - 250K">0 - 250K</option>
                            <option value="250K - 500K">250K - 500K</option>
                            <option value="500K - 1M">500K - 1M</option>
                            <option value="1M - 5M">1M - 5M</option>
                            <option value="10M+">10M+</option>
                            <!--]-->
                          </select>
                          <!---->
                          <!---->
                          <!---->
                          <div class="nui-select-chevron nui-chevron">
                            <svg
                              aria-hidden="true"
                              viewbox="0 0 24 24"
                              class="nui-select-chevron-inner"
                            >
                              <path
                                fill="none"
                                stroke="currentColor"
                                stroke-linecap="round"
                                stroke-linejoin="round"
                                stroke-width="2"
                                d="m6 9 6 6 6-6"
                              ></path>
                            </svg>
                          </div>
                          <!---->
                        </div>
                      </div>
                      <!--]-->
                    </div>
                    <div class="ltablet:col-span-6 col-span-12 lg:col-span-6">
                      <!--[-->
                      <div
                        class="nui-select-wrapper nui-select-default nui-select-md nui-select-rounded"
                      >
                        <label for="ninja-input-10806" class="nui-select-label"
                          ><!--[-->Employees<!--]--></label
                        >
                        <div class="nui-select-outer">
                          <select id="ninja-input-10806" class="nui-select">
                            <!----><!--[-->
                            <option value hidden></option>
                            <option value="1-10 employees">
                              1-10 employees
                            </option>
                            <option value="10-50 employees">
                              10-50 employees
                            </option>
                            <option value="50-100 employees">
                              50-100 employees
                            </option>
                            <option value="100+ employees">
                              100+ employees
                            </option>
                            <!--]-->
                          </select>
                          <!---->
                          <!---->
                          <!---->
                          <div class="nui-select-chevron nui-chevron">
                            <svg
                              aria-hidden="true"
                              viewbox="0 0 24 24"
                              class="nui-select-chevron-inner"
                            >
                              <path
                                fill="none"
                                stroke="currentColor"
                                stroke-linecap="round"
                                stroke-linejoin="round"
                                stroke-width="2"
                                d="m6 9 6 6 6-6"
                              ></path>
                            </svg>
                          </div>
                          <!---->
                        </div>
                      </div>
                      <!--]-->
                    </div>
                    <div class="ltablet:col-span-8 col-span-12 lg:col-span-8">
                      <!--[-->
                      <div
                        class="nui-listbox nui-listbox-default nui-listbox-md nui-listbox-rounded"
                        data-v-407113c2
                      >
                        <!--[-->
                        <!--[--><label
                          id="headlessui-listbox-label-19251"
                          data-headlessui-state
                          class="nui-listbox-label"
                          data-v-407113c2
                          ><!--[-->Manager<!--]--></label
                        >
                        <div class="nui-listbox-outer" data-v-407113c2>
                          <div data-v-407113c2 data-v-407113c2>
                            <button
                              id="headlessui-listbox-button-19252"
                              type="button"
                              aria-haspopup="listbox"
                              aria-expanded="false"
                              data-headlessui-state
                              class="nui-listbox-button"
                              data-v-407113c2
                            >
                              <!--[-->
                              <div
                                class="nui-listbox-button-inner"
                                data-v-407113c2
                              >
                                <!---->
                                <div
                                  class="nui-listbox-placeholder"
                                  data-v-407113c2
                                ></div>
                                <span
                                  class="nui-listbox-chevron nui-chevron"
                                  data-v-407113c2
                                  ><svg
                                    xmlns="http://www.w3.org/2000/svg"
                                    xmlns:xlink="http://www.w3.org/1999/xlink"
                                    aria-hidden="true"
                                    role="img"
                                    class="icon nui-listbox-chevron-inner"
                                    data-v-407113c2
                                    style=""
                                    width="1em"
                                    height="1em"
                                    viewBox="0 0 24 24"
                                    data-v-7663d7ec
                                  >
                                    <path
                                      fill="none"
                                      stroke="currentColor"
                                      stroke-linecap="round"
                                      stroke-linejoin="round"
                                      stroke-width="2"
                                      d="m6 9l6 6l6-6"
                                    /></svg
                                ></span>
                              </div>
                              <!--]-->
                            </button>
                            <!---->
                            <!---->
                          </div>
                          <div
                            class="w-full"
                            style="
                              position: absolute;
                              left: 0;
                              top: 0;
                              z-index: 20;
                            "
                            data-v-407113c2
                          >
                            <!---->
                          </div>
                          <!---->
                        </div>
                        <!--]-->
                        <!--]-->
                      </div>
                      <!--]-->
                    </div>
                    <div class="ltablet:col-span-4 col-span-12 lg:col-span-4">
                      <!--[-->
                      <div
                        class="nui-select-wrapper nui-select-default nui-select-md nui-select-rounded"
                      >
                        <label for="ninja-input-10807" class="nui-select-label"
                          ><!--[-->Status<!--]--></label
                        >
                        <div class="nui-select-outer">
                          <select id="ninja-input-10807" class="nui-select">
                            <!----><!--[-->
                            <option value hidden></option>
                            <option value="active">Active</option>
                            <option value="inactive">Inactive</option>
                            <!--]-->
                          </select>
                          <!---->
                          <!---->
                          <!---->
                          <div class="nui-select-chevron nui-chevron">
                            <svg
                              aria-hidden="true"
                              viewbox="0 0 24 24"
                              class="nui-select-chevron-inner"
                            >
                              <path
                                fill="none"
                                stroke="currentColor"
                                stroke-linecap="round"
                                stroke-linejoin="round"
                                stroke-width="2"
                                d="m6 9 6 6 6-6"
                              ></path>
                            </svg>
                          </div>
                          <!---->
                        </div>
                      </div>
                      <!--]-->
                    </div>
                    <div class="col-span-12">
                      <!--[-->
                      <div
                        class="nui-textarea-wrapper nui-textarea-default nui-textarea-md nui-textarea-rounded nui-textarea-not-resize"
                      >
                        <label
                          for="ninja-input-10808"
                          class="nui-textarea-label"
                          >Company notes</label
                        >
                        <div class="nui-textarea-outer">
                          <textarea
                            id="ninja-input-10808"
                            class="nui-textarea"
                            placeholder="Write some notes..."
                            rows="4"
                          ></textarea>
                          <!---->
                          <!---->
                          <!---->
                          <!---->
                        </div>
                      </div>
                      <!--]-->
                    </div>
                    <div class="col-span-12">
                      <!--[-->
                      <div
                        class="nui-checkbox nui-checkbox-rounded nui-checkbox-primary"
                      >
                        <div class="nui-checkbox-outer">
                          <input
                            id="ninja-input-10809"
                            true-value="true"
                            false-value="false"
                            class="nui-checkbox-input"
                            type="checkbox"
                          />
                          <div class="nui-checkbox-inner"></div>
                          <svg
                            aria-hidden="true"
                            viewbox="0 0 17 12"
                            class="nui-icon-check"
                          >
                            <path
                              fill="currentColor"
                              d="M16.576.414a1.386 1.386 0 0 1 0 1.996l-9.404 9.176A1.461 1.461 0 0 1 6.149 12c-.37 0-.74-.139-1.023-.414L.424 6.998a1.386 1.386 0 0 1 0-1.996 1.47 1.47 0 0 1 2.046 0l3.68 3.59L14.53.414a1.47 1.47 0 0 1 2.046 0z"
                            ></path>
                          </svg>
                          <svg
                            aria-hidden="true"
                            viewbox="0 0 24 24"
                            class="nui-icon-indeterminate"
                          >
                            <path
                              fill="none"
                              stroke="currentColor"
                              stroke-linecap="round"
                              stroke-linejoin="round"
                              stroke-width="4"
                              d="M2 12h20"
                            ></path>
                          </svg>
                        </div>
                        <div class="nui-checkbox-label-wrapper">
                          <label
                            for="ninja-input-10809"
                            class="nui-checkbox-label-text"
                            ><!--[-->This record is private<!--]--></label
                          >
                          <!---->
                        </div>
                      </div>
                      <!--]-->
                    </div>
                  </div>
                  <div
                    class="mt-5 flex flex-col-reverse text-right md:block md:space-x-3"
                  >
                    <button
                      type="submit"
                      rel
                      target
                      class="nui-button nui-button-medium nui-button-rounded nui-button-solid nui-button-primary !h-12 w-full sm:w-40"
                    >
                      <!--[-->
                      Create Company
                      <!--]--><!---->
                    </button>
                  </div>
                </div>
              </div>
            </form>
            <!--]-->
          </div>
        </div>
      </div>
      <!--]-->
      <!--]-->
    </main>
  </div>
</div>
<div>
  <!---->
  <div
    role="button"
    tabindex="0"
    class="opacity-0 pointer-events-none bg-muted-800/60 fixed start-0 top-0 z-[99] size-full cursor-pointer transition-opacity duration-300"
  ></div>
</div>
<div
  class="after:bg-primary-600 after:shadow-primary-500/50 dark:after:shadow-muted-800/10 fixed end-[1em] top-[0.6em] z-[90] transition-transform duration-300 after:absolute after:end-0 after:top-0 after:block after:size-12 after:rounded-full after:shadow-lg after:transition-transform after:duration-300 after:content-[&#39;&#39;] -translate-y-24"
>
  <button
    type="button"
    class="bg-primary-500 shadow-primary-500/50 dark:shadow-muted-800/10 relative z-30 flex size-12 items-center justify-center rounded-full text-white shadow-lg"
  >
    <span class="-top-0.5 relative block size-3 transition-all duration-300"
      ><span
        class="top-0.5 bg-muted-50 absolute block h-0.5 w-full transition-all duration-300"
      ></span
      ><span
        class="bg-muted-50 absolute top-1/2 block h-0.5 w-full transition-all duration-300"
      ></span
      ><span
        class="bottom-0 bg-muted-50 absolute block h-0.5 w-full transition-all duration-300"
      ></span
    ></span>
  </button>
  <div>
    <!--[-->
    <!--[-->
    <div
      class="translate-x-0 translate-y-0 absolute end-[0.2em] top-[0.2em] z-20 flex items-center justify-center transition-all duration-300"
    >
      <label class="nui-theme-toggle nui-theme-toggle-inverted ms-auto"
        ><input type="checkbox" class="nui-theme-toggle-input" /><span
          class="nui-theme-toggle-inner"
          ><svg aria-hidden="true" viewbox="0 0 24 24" class="nui-sun">
            <g fill="currentColor" stroke="currentColor" class="stroke-2">
              <circle cx="12" cy="12" r="5"></circle>
              <path
                d="M12 1v2m0 18v2M4.22 4.22l1.42 1.42m12.72 12.72 1.42 1.42M1 12h2m18 0h2M4.22 19.78l1.42-1.42M18.36 5.64l1.42-1.42"
              ></path>
            </g></svg
          ><svg aria-hidden="true" viewbox="0 0 24 24" class="nui-moon">
            <path
              fill="currentColor"
              stroke="currentColor"
              d="M21 12.79A9 9 0 1 1 11.21 3 7 7 0 0 0 21 12.79z"
              class="stroke-2"
            ></path></svg></span
      ></label>
    </div>
    <!--]-->
    <!--[-->
    <div
      class="translate-x-0 translate-y-0 absolute end-[0.2em] top-[0.2em] z-20 flex items-center justify-center transition-all duration-300"
    >
      <button
        type="button"
        class="bg-primary-700 flex size-9 items-center justify-center rounded-full transition-all duration-300"
      >
        <img
          class="size-7 rounded-full"
          src="/img/icons/flags/united-states-of-america.svg"
          alt="flag icon"
        />
      </button>
    </div>
    <!--]-->
    <!--[-->
    <div
      class="translate-x-0 translate-y-0 absolute end-[0.2em] top-[0.2em] z-20 flex items-center justify-center transition-all duration-300"
    >
      <a
        aria-current="page"
        href="/layouts/form-1#"
        class="router-link-active router-link-exact-active inline-flex size-9 items-center justify-center rounded-full transition-all duration-300"
        ><span
          class="bg-primary-700 flex size-9 items-center justify-center rounded-full"
          ><svg
            xmlns="http://www.w3.org/2000/svg"
            xmlns:xlink="http://www.w3.org/1999/xlink"
            aria-hidden="true"
            role="img"
            class="icon size-5 text-white"
            style=""
            width="1em"
            height="1em"
            viewBox="0 0 256 256"
            data-v-7663d7ec
          >
            <g fill="currentColor">
              <path
                d="M208 192H48a8 8 0 0 1-6.88-12C47.71 168.6 56 139.81 56 104a72 72 0 0 1 144 0c0 35.82 8.3 64.6 14.9 76a8 8 0 0 1-6.9 12"
                opacity=".2"
              />
              <path
                d="M221.8 175.94c-5.55-9.56-13.8-36.61-13.8-71.94a80 80 0 1 0-160 0c0 35.34-8.26 62.38-13.81 71.94A16 16 0 0 0 48 200h40.81a40 40 0 0 0 78.38 0H208a16 16 0 0 0 13.8-24.06M128 216a24 24 0 0 1-22.62-16h45.24A24 24 0 0 1 128 216m-80-32c7.7-13.24 16-43.92 16-80a64 64 0 1 1 128 0c0 36.05 8.28 66.73 16 80Z"
              />
            </g></svg></span
      ></a>
    </div>
    <!--]-->
    <!--[-->
    <div
      class="translate-x-0 translate-y-0 absolute end-[0.2em] top-[0.2em] z-20 flex items-center justify-center transition-all duration-300"
    >
      <button
        type="button"
        class="bg-primary-700 flex size-9 items-center justify-center rounded-full transition-all duration-300"
      >
        <svg
          xmlns="http://www.w3.org/2000/svg"
          xmlns:xlink="http://www.w3.org/1999/xlink"
          aria-hidden="true"
          role="img"
          class="icon size-5 text-white"
          style=""
          width="1em"
          height="1em"
          viewBox="0 0 256 256"
          data-v-7663d7ec
        >
          <g fill="currentColor">
            <path
              d="M112 80a32 32 0 1 1-32-32a32 32 0 0 1 32 32m64 32a32 32 0 1 0-32-32a32 32 0 0 0 32 32m-96 32a32 32 0 1 0 32 32a32 32 0 0 0-32-32m96 0a32 32 0 1 0 32 32a32 32 0 0 0-32-32"
              opacity=".2"
            />
            <path
              d="M80 40a40 40 0 1 0 40 40a40 40 0 0 0-40-40m0 64a24 24 0 1 1 24-24a24 24 0 0 1-24 24m96 16a40 40 0 1 0-40-40a40 40 0 0 0 40 40m0-64a24 24 0 1 1-24 24a24 24 0 0 1 24-24m-96 80a40 40 0 1 0 40 40a40 40 0 0 0-40-40m0 64a24 24 0 1 1 24-24a24 24 0 0 1-24 24m96-64a40 40 0 1 0 40 40a40 40 0 0 0-40-40m0 64a24 24 0 1 1 24-24a24 24 0 0 1-24 24"
            />
          </g>
        </svg>
      </button>
    </div>
    <!--]-->
    <!--]-->
  </div>
</div>
{% endblock %}
