{% extends 'base.html' %}
{% block content %}

  <div role="button" tabindex="0" class="opacity-50 dark:opacity-75 bg-muted-800 dark:bg-muted-900 fixed start-0 top-0 z-[59] block size-full transition-opacity duration-300 lg:hidden"></div>
  <!--]-->
  <div class="bg-muted-100 dark:bg-muted-900 relative min-h-screen w-full overflow-x-hidden px-4 transition-all duration-300 xl:px-10 xl:max-w-[calc(100%_-_300px)] xl:ms-[215px]">
    <div class="mx-auto w-full max-w-7xl">
      <!--[-->
      <div class="relative z-[1] mb-5 flex h-16 items-center gap-2">
       <a href="/"> <button type="button" class="flex size-10 items-center justify-center -ms-3">
          <div class="scale-90 relative size-5">
            <span class="-rotate-45 rtl:rotate-45 max-w-[75%] top-1 bg-primary-500 absolute block h-0.5 w-full transition-all duration-300"></span><span class="opacity-0 translate-x-4 rtl:-translate-x-4 bg-primary-500 absolute top-1/2 block h-0.5 w-full max-w-[50%] transition-all duration-300"></span><span class="rotate-45 rtl:-rotate-45 max-w-[75%] bottom-1 bg-primary-500 absolute block h-0.5 w-full transition-all duration-300"></span>
          </div>
        </button></a>
        <h1 class="nui-heading nui-heading-2xl nui-weight-light nui-lead-normal text-muted-800 hidden md:block dark:text-white">
          <!--[-->
          <!--[-->Events<!--]-->
          <!--]-->
        </h1>
        <div class="ms-auto"></div>
        <div class="flex items-center gap-2 h-16">
          <!--[-->
          <!--[-->
          <!--]-->
          <!--[--><button type="button" class="border-muted-200 hover:ring-muted-200 dark:hover:ring-muted-700 dark:border-muted-700 dark:bg-muted-800 dark:ring-offset-muted-900 flex size-9 items-center justify-center rounded-full border bg-white ring-1 ring-transparent transition-all duration-300 hover:ring-offset-4">
            <img class="size-7 rounded-full" src="{{ url_for('static', filename='img/avatar.png') }}" alt="flag icon">
          </button>
          <!--]-->
          <!--[-->
          <div class="group inline-flex items-center justify-center text-right">
            <div data-headlessui-state="" class="relative size-9 text-left">
              <div id="headlessui-menu-button-18969" aria-haspopup="menu" aria-expanded="false" data-headlessui-state="">
                <button type="button" class="group-hover:ring-muted-200 dark:group-hover:ring-muted-700 dark:ring-offset-muted-900 inline-flex size-9 items-center justify-center rounded-full ring-1 ring-transparent transition-all duration-300 group-hover:ring-offset-4">
                  <span class="border-muted-200 dark:border-muted-700 dark:bg-muted-800 flex size-9 items-center justify-center rounded-full border bg-white"><svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" aria-hidden="true" role="img" class="icon text-muted-400 size-5" style="" width="1em" height="1em" viewBox="0 0 256 256" data-v-7663d7ec="">
                      <g fill="currentColor">
                        <path d="M208 192H48a8 8 0 0 1-6.88-12C47.71 168.6 56 139.81 56 104a72 72 0 0 1 144 0c0 35.82 8.3 64.6 14.9 76a8 8 0 0 1-6.9 12" opacity=".2"></path>
                        <path d="M221.8 175.94c-5.55-9.56-13.8-36.61-13.8-71.94a80 80 0 1 0-160 0c0 35.34-8.26 62.38-13.81 71.94A16 16 0 0 0 48 200h40.81a40 40 0 0 0 78.38 0H208a16 16 0 0 0 13.8-24.06M128 216a24 24 0 0 1-22.62-16h45.24A24 24 0 0 1 128 216m-80-32c7.7-13.24 16-43.92 16-80a64 64 0 1 1 128 0c0 36.05 8.28 66.73 16 80Z"></path>
                      </g></svg></span>
                </button>
              </div>
              <!---->
            </div>
          </div>
          <!--]-->
          <!--[--><button type="button" class="border-muted-200 hover:ring-muted-200 dark:hover:ring-muted-700 dark:border-muted-700 dark:bg-muted-800 dark:ring-offset-muted-900 flex size-9 items-center justify-center rounded-full border bg-white ring-1 ring-transparent transition-all duration-300 hover:ring-offset-4">
            <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" aria-hidden="true" role="img" class="icon text-muted-400 size-5" style="" width="1em" height="1em" viewBox="0 0 256 256" data-v-7663d7ec="">
              <g fill="currentColor">
                <path d="M112 80a32 32 0 1 1-32-32a32 32 0 0 1 32 32m64 32a32 32 0 1 0-32-32a32 32 0 0 0 32 32m-96 32a32 32 0 1 0 32 32a32 32 0 0 0-32-32m96 0a32 32 0 1 0 32 32a32 32 0 0 0-32-32" opacity=".2"></path>
                <path d="M80 40a40 40 0 1 0 40 40a40 40 0 0 0-40-40m0 64a24 24 0 1 1 24-24a24 24 0 0 1-24 24m96 16a40 40 0 1 0-40-40a40 40 0 0 0 40 40m0-64a24 24 0 1 1-24 24a24 24 0 0 1 24-24m-96 80a40 40 0 1 0 40 40a40 40 0 0 0-40-40m0 64a24 24 0 1 1 24-24a24 24 0 0 1-24 24m96-64a40 40 0 1 0 40 40a40 40 0 0 0-40-40m0 64a24 24 0 1 1 24-24a24 24 0 0 1-24 24"></path>
              </g>
            </svg>
          </button>
          <!--]-->
          <!--[-->
          <div class="group inline-flex items-center justify-center text-right">
            <div data-headlessui-state="" class="relative size-9 text-left">
              <button class="group-hover:ring-primary-500 dark:ring-offset-muted-900 inline-flex size-9 items-center justify-center rounded-full ring-1 ring-transparent transition-all duration-300 group-hover:ring-offset-4" id="headlessui-menu-button-18971" aria-haspopup="menu" aria-expanded="false" data-headlessui-state="">
                <div class="relative inline-flex size-9 items-center justify-center rounded-full">
                  <img src="{{ url_for('static', filename='img/avatar.png') }}" class="max-w-full rounded-full object-cover shadow-sm dark:border-transparent" alt="">
                </div>
              </button>
              <!---->
            </div>
          </div>
          <!--]-->
          <!--]-->
        </div>
      </div>
      <!--]-->
      <main>
        <!--[-->
        <!--[-->
        <div class="nuxt-loading-indicator" style="
            position: fixed;
            top: 0;
            right: 0;
            left: 0;
            pointer-events: none;
            width: auto;
            height: 3px;
            opacity: 0;
            background: rgb(var(--color-primary-500));
            background-size: Infinity% auto;
            transform: scaleX(0%);
            transform-origin: left;
            transition: transform 0.1s, height 0.4s, opacity 0.4s;
            z-index: 999999;
          "></div>
        <div>
          <div class="relative">
            <div class="nui-card nui-card-curved nui-card-white ptablet:py-6 ptablet:px-4 ptablet:grid ptablet:grid-cols-12 ltablet:divide-x divide-muted-200 dark:divide-muted-700 mb-10 flex w-full flex-col items-center py-2 sm:flex-row sm:py-0 lg:divide-x">
              <!--[-->
              <div class="ptablet:ps-4 ptablet:col-span-6 w-full py-2 pe-4 ps-4 sm:w-auto sm:grow sm:ps-2">
                <div class="nui-input-wrapper nui-input-default nui-input-md nui-input-curved nui-has-icon">
                  <!---->
                  <div class="nui-input-outer">
                    <div>
                      <input id="ekeywords" type="text" class="nui-input" placeholder="Event keywords" value="">
                      <!---->
                      <!---->
                      <div class="nui-input-icon">
                        <!--[--><svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" aria-hidden="true" role="img" class="icon nui-input-icon-inner" style="" width="1em" height="1em" viewBox="0 0 24 24" data-v-7663d7ec="">
                          <g fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2">
                            <circle cx="11" cy="11" r="8"></circle>
                            <path d="m21 21l-4.3-4.3"></path>
                          </g>
                        </svg>
                        <!--]-->
                      </div>
                      <!--[-->
                      <!--]-->
                    </div>
                    <!---->
                  </div>
                </div>
              </div>
              <div class="ptablet:col-span-6 w-full flex-1 px-4 py-2 sm:w-auto">
                <div class="nui-input-wrapper nui-input-default nui-input-md nui-input-curved nui-has-icon">
                  <!---->
                  <div class="nui-input-outer">
                    <div>
                      <input id="ninja-input-10589" type="text" class="nui-input" placeholder="Event Title" value="">
                      <!---->
                      <!---->
                      <div class="nui-input-icon">
                        <!--[--><svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" aria-hidden="true" role="img" class="icon nui-input-icon-inner" style="" width="1em" height="1em" viewBox="0 0 24 24" data-v-7663d7ec="">
                          <g fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2">
                            <path d="M20 10c0 6-8 12-8 12s-8-6-8-12a8 8 0 0 1 16 0"></path>
                            <circle cx="12" cy="10" r="3"></circle>
                          </g>
                        </svg>
                        <!--]-->
                      </div>
                      <!--[-->
                      <!--]-->
                    </div>
                    <!---->
                  </div>
                </div>
              </div>
              <div class="ptablet:col-span-6 w-full flex-1 px-4 py-2 sm:w-auto">
                <div class="nui-select-wrapper nui-select-default nui-select-md nui-select-curved nui-has-icon">
                  <!---->
                  <div class="nui-select-outer">
                    <select id="type-select" hide-label="" class="nui-select">
                      <!----><!--[-->
                      <option value="">Select a type</option>
                      <option value="all">All</option>
                      <option value="concert">Concert</option>
                      <option value="competition">Competitions</option>
                      <option value="workshop">Workshops</option>
                      <option value="talkshow">Talk Shows</option>
                      <!--]-->
                    </select>
                    <!---->
                    <!---->
                    <div class="nui-select-icon">
                      <!--[--><svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" aria-hidden="true" role="img" class="icon nui-select-icon-inner" style="" width="1em" height="1em" viewBox="0 0 24 24" data-v-7663d7ec="">
                        <g fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2">
                          <rect width="20" height="14" x="2" y="7" rx="2" ry="2"></rect>
                          <path d="M16 21V5a2 2 0 0 0-2-2h-4a2 2 0 0 0-2 2v16"></path>
                        </g>
                      </svg>
                      <!--]-->
                    </div>
                    <div class="nui-select-chevron nui-chevron">
                      <svg aria-hidden="true" viewBox="0 0 24 24" class="nui-select-chevron-inner">
                        <path fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="m6 9 6 6 6-6"></path>
                      </svg>
                    </div>
                    <!---->
                  </div>
                </div>
              </div>
              <div class="ptablet:col-span-6 w-full flex-1 px-4 py-2 sm:w-auto">
                <div class="nui-select-wrapper nui-select-default nui-select-md nui-select-curved nui-has-icon">
                  <!---->
                  <div class="nui-select-outer">
                    <select id="ninja-input-10591" hide-label="" class="nui-select">
                      <!----><!--[-->
                      <option value="">Select a range</option>
                      <option value="all">All</option>
                      <option value="10k-20k">10k ~ 20k</option>
                      <option value="20k-30k">20k ~ 40k</option>
                      <option value="40k-75k">40k ~ 75k</option>
                      <option value="75k">75k+</option>
                      <!--]-->
                    </select>
                    <!---->
                    <!---->
                    <div class="nui-select-icon">
                      <!--[--><svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" aria-hidden="true" role="img" class="icon nui-select-icon-inner" style="" width="1em" height="1em" viewBox="0 0 24 24" data-v-7663d7ec="">
                        <path fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M12 2v20m5-17H9.5a3.5 3.5 0 0 0 0 7h5a3.5 3.5 0 0 1 0 7H6"></path>
                      </svg>
                      <!--]-->
                    </div>
                    <div class="nui-select-chevron nui-chevron">
                      <svg aria-hidden="true" viewBox="0 0 24 24" class="nui-select-chevron-inner">
                        <path fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="m6 9 6 6 6-6"></path>
                      </svg>
                    </div>
                    <!---->
                  </div>
                </div>
              </div>
              <div class="ptablet:col-span-12 w-full px-4 py-2 sm:w-auto">
                <button type="button" rel="" target="" class="nui-button nui-button-medium nui-button-curved nui-button-solid nui-button-primary ptablet:w-full w-full sm:w-32">
                  <!--[-->
                  Search
                  <!--]--><!---->
                </button>
              </div>
              <!--]-->
            </div>
          </div>
          <div class="grid grid-cols-12 gap-6">
            <div class="ptablet:col-span-4 ltablet:col-span-4 col-span-12 lg:col-span-3">
              <div class="w-full">
                
                <div class="space-y-12">
                  <div class="relative">
                    <div class="mb-6">
                      <h3 class="nui-heading nui-heading-md nui-weight-light nui-lead-tight text-muted-800 mb-2 dark:text-white">
                        <!--[--><span>Event Type</span>
                        <!--]-->
                      </h3>
                    </div>
                    <div class="flex flex-col gap-4 ps-2">
                      <div class="flex items-center justify-between">
                        <div class="nui-checkbox nui-checkbox-rounded nui-checkbox-primary">
                          <div class="nui-checkbox-outer">
                            <input id="concert-type" value="concert" true-value="true" false-value="false" class=" etype nui-checkbox-input" type="checkbox">
                            <div class="nui-checkbox-inner"></div>
                            <svg aria-hidden="true" viewBox="0 0 17 12" class="nui-icon-check">
                              <path fill="currentColor" d="M16.576.414a1.386 1.386 0 0 1 0 1.996l-9.404 9.176A1.461 1.461 0 0 1 6.149 12c-.37 0-.74-.139-1.023-.414L.424 6.998a1.386 1.386 0 0 1 0-1.996 1.47 1.47 0 0 1 2.046 0l3.68 3.59L14.53.414a1.47 1.47 0 0 1 2.046 0z"></path>
                            </svg>
                            <svg aria-hidden="true" viewBox="0 0 24 24" class="nui-icon-indeterminate">
                              <path fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="4" d="M2 12h20"></path>
                            </svg>
                          </div>
                          <div class="nui-checkbox-label-wrapper">
                            <label for="type-concert" class=" nui-checkbox-label-text"><!--[-->Concert<!--]--></label>
                            <!---->
                          </div>
                        </div>
                        <span class="nui-tag nui-tag-sm nui-tag-full nui-tag-solid nui-tag-default text-xs"><!--[-->
                          {% set count = [] %}
                          {% for item in events %}
                              {% if item.type_event =="Concert" %}
                                    {% set __ = count.append(1) %} 
                              {% endif %}
                          {% endfor %}
                          
                          {{count|length}}
                          <!--]--></span>
                      </div>
                      <div class="flex items-center justify-between">
                        <div class="nui-checkbox nui-checkbox-rounded nui-checkbox-primary">
                          <div class="nui-checkbox-outer">
                            <input id="competition-type" value="competition" true-value="true" false-value="false" class="etype nui-checkbox-input" type="checkbox">
                            <div class="nui-checkbox-inner"></div>
                            <svg aria-hidden="true" viewBox="0 0 17 12" class="nui-icon-check">
                              <path fill="currentColor" d="M16.576.414a1.386 1.386 0 0 1 0 1.996l-9.404 9.176A1.461 1.461 0 0 1 6.149 12c-.37 0-.74-.139-1.023-.414L.424 6.998a1.386 1.386 0 0 1 0-1.996 1.47 1.47 0 0 1 2.046 0l3.68 3.59L14.53.414a1.47 1.47 0 0 1 2.046 0z"></path>
                            </svg>
                            <svg aria-hidden="true" viewBox="0 0 24 24" class="nui-icon-indeterminate">
                              <path fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="4" d="M2 12h20"></path>
                            </svg>
                          </div>
                          <div class="nui-checkbox-label-wrapper">
                            <label for="ninja-input-10594" class="nui-checkbox-label-text"><!--[-->Competition<!--]--></label>
                            <!---->
                          </div>
                        </div>
                        <span class="nui-tag nui-tag-sm nui-tag-full nui-tag-solid nui-tag-default text-xs"><!--[-->
                          {% set count = [] %}
                          {% for item in events %}
                              {% if item.type_event =="Competition" %}
                                    {% set __ = count.append(1) %} 
                              {% endif %}
                          {% endfor %}
                          
                          {{count|length}}
                          <!--]--></span>
                      </div>
                      <div class="flex items-center justify-between">
                        <div class="nui-checkbox nui-checkbox-rounded nui-checkbox-primary">
                          <div class="nui-checkbox-outer">
                            <input id="workshop-type" value="workshop" true-value="true" false-value="false" class="etype nui-checkbox-input" type="checkbox">
                            <div class="nui-checkbox-inner"></div>
                            <svg aria-hidden="true" viewBox="0 0 17 12" class="nui-icon-check">
                              <path fill="currentColor" d="M16.576.414a1.386 1.386 0 0 1 0 1.996l-9.404 9.176A1.461 1.461 0 0 1 6.149 12c-.37 0-.74-.139-1.023-.414L.424 6.998a1.386 1.386 0 0 1 0-1.996 1.47 1.47 0 0 1 2.046 0l3.68 3.59L14.53.414a1.47 1.47 0 0 1 2.046 0z"></path>
                            </svg>
                            <svg aria-hidden="true" viewBox="0 0 24 24" class="nui-icon-indeterminate">
                              <path fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="4" d="M2 12h20"></path>
                            </svg>
                          </div>
                          <div class="nui-checkbox-label-wrapper">
                            <label for="ninja-input-10595" class="nui-checkbox-label-text"><!--[-->Workshops<!--]--></label>
                            <!---->
                          </div>
                        </div>
                        <span class="nui-tag nui-tag-sm nui-tag-full nui-tag-solid nui-tag-default text-xs"><!--[-->
                          {% set count = [] %}
                          {% for item in events %}
                              {% if item.type_event =="Workshop" %}
                                    {% set __ = count.append(1) %} 
                              {% endif %}
                          {% endfor %}
                          
                          {{count|length}}
                          <!--]--></span>
                      </div>
                      <div class="flex items-center justify-between">
                        <div class="nui-checkbox nui-checkbox-rounded nui-checkbox-primary">
                          <div class="nui-checkbox-outer">
                            <input id="talkshow-type" value="talkshow" true-value="true" false-value="false" class="etype nui-checkbox-input" type="checkbox">
                            <div class="nui-checkbox-inner"></div>
                            <svg aria-hidden="true" viewBox="0 0 17 12" class="nui-icon-check">
                              <path fill="currentColor" d="M16.576.414a1.386 1.386 0 0 1 0 1.996l-9.404 9.176A1.461 1.461 0 0 1 6.149 12c-.37 0-.74-.139-1.023-.414L.424 6.998a1.386 1.386 0 0 1 0-1.996 1.47 1.47 0 0 1 2.046 0l3.68 3.59L14.53.414a1.47 1.47 0 0 1 2.046 0z"></path>
                            </svg>
                            <svg aria-hidden="true" viewBox="0 0 24 24" class="nui-icon-indeterminate">
                              <path fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="4" d="M2 12h20"></path>
                            </svg>
                          </div>
                          <div class="nui-checkbox-label-wrapper">
                            <label for="ninja-input-10596" class="nui-checkbox-label-text"><!--[-->Talk Show<!--]--></label>
                            <!---->
                          </div>
                        </div>
                        <span class="nui-tag nui-tag-sm nui-tag-full nui-tag-solid nui-tag-default text-xs"><!--[-->
                          {% set count = [] %}
                          {% for item in events %}
                              {% if item.type_event =="Talkshow" %}
                                    {% set __ = count.append(1) %} 
                              {% endif %}
                          {% endfor %}
                          
                          {{count|length}}
                          <!--]--></span>
                      </div>
                    </div>
                  </div>
                  <div class="relative">
                    <div class="mb-6">
                      <h3 class="nui-heading nui-heading-md nui-weight-light nui-lead-tight text-muted-800 mb-2 dark:text-white">
                        <!--[--><span>Event Tags</span>
                        <!--]-->
                      </h3>
                    </div>
                    <div class="flex flex-col gap-4 ps-2">
                      {% set tagslist = [] %}
                          {% for item in events %}
                            {%for tag in item.tags %}
                            {% if tag not in tagslist %}
                                {% set __ = tagslist.append(tag) %}
                            {% endif %} 
                              {% endfor %}
                          {% endfor %}
                          
                      {% for item in tagslist %}
                      <div class="flex items-center justify-between">
                        <div class="nui-checkbox nui-checkbox-rounded nui-checkbox-primary">
                          <div class="nui-checkbox-outer">
                            <input id="check-{{item}}" value="{{item}}" true-value="true" false-value="false" class="tag-filter nui-checkbox-input" type="checkbox">
                            <div class="nui-checkbox-inner"></div>
                            <svg aria-hidden="true" viewBox="0 0 17 12" class="nui-icon-check">
                              <path fill="currentColor" d="M16.576.414a1.386 1.386 0 0 1 0 1.996l-9.404 9.176A1.461 1.461 0 0 1 6.149 12c-.37 0-.74-.139-1.023-.414L.424 6.998a1.386 1.386 0 0 1 0-1.996 1.47 1.47 0 0 1 2.046 0l3.68 3.59L14.53.414a1.47 1.47 0 0 1 2.046 0z"></path>
                            </svg>
                            <svg aria-hidden="true" viewBox="0 0 24 24" class="nui-icon-indeterminate">
                              <path fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="4" d="M2 12h20"></path>
                            </svg>
                          </div>
                          <div class="nui-checkbox-label-wrapper">
                            <label for="ninja-input-10597" class="nui-checkbox-label-text"><!--[-->{{item}}<!--]--></label>
                            <!---->
                          </div>
                        </div>
                       
                      </div>
                      {% endfor %}
                    </div>
                  </div>
                  
                </div>
              </div>
            </div>
            <div class="ptablet:col-span-8 ltablet:col-span-8 col-span-12 lg:col-span-9">
              <div class="w-full flex justify-between">
              <div class="mb-6 mt-12 sm:mt-0">
                <h3 id="num_events" class="nui-heading nui-heading-lg nui-weight-light nui-lead-tight text-muted-800 dark:text-white">
                  <!--[--><span>Showing 46 Events</span>
                  <!--]-->
                </h3>
                <p class="nui-paragraph nui-paragraph-sm nui-weight-normal nui-lead-normal">
                  <!--[--><span class="text-muted-500">
                    These are the matching events that we found
                  </span>
                  <!--]-->
                </p>
              </div>
              {% if user.utype=="organiser" %}
              <a href="/add-event"><button type="button" id="vol_list"  class=" py-3 nui-button nui-button-medium nui-button-curved nui-button-solid nui-button-default"
                            rel >
                            <!--[--><span>Add Event</span>
                            <!--]-->
                            <!---->
                        </button></a>
                        {% endif %}
                      </div>
              <div class="grid grid-cols-1 gap-6 lg:grid-cols-2">
                <!--[-->
                {% for event in events %}
                <div data-name="{{event.name}}" data-tags="{{ event.tags|join(', ') }}" data-type="{{event.type_event}}" class="event-card relative">
                  <div class="h-full nui-card nui-card-curved nui-card-white p-6">
                    <!--[-->
                    <div class="h-full flex w-full flex-col gap-4 sm:flex-row">
                      <div data-nui-tooltip="{{event.name}}">
                        {% if event.type=="competition" %}
                        <img src="{{ url_for('static', filename='img/competition.jpg') }}" alt="Cultural Event" class="w-2/3 rounded-lg">
                        {% elif event.type=="concert" %}
                        <img src="{{ url_for('static', filename='img/concert.jpg') }}" alt="Cultural Event" class="w-2/3 rounded-lg">
                        {% elif event.type=="workshop" %}
                        <img src="{{ url_for('static', filename='img/workshop.jpg') }}" alt="Cultural Event" class="w-2/3 rounded-lg">
                        {% elif event.type=="talkshow" %}
                        <img src="{{ url_for('static', filename='img/talk-show.jpg') }}" alt="Cultural Event" class="w-2/3 rounded-lg">
                        {% else %}
                        <img src="{{ url_for('static', filename='img/comp.jpg') }}" alt="Cultural Event" class="w-2/3 rounded-lg">
                        {% endif %}
                      </div>
                      <div class="flex flex-col justify-between">
                        <h4 class="nui-heading nui-heading-md nui-weight-semibold nui-lead-tight after:text-muted-800 mb-4 dark:text-white">
                          <!--[--><span>{{event.name}}</span>
                          <!--]-->
                        </h4>
                        <p class="nui-paragraph nui-paragraph-sm nui-weight-normal nui-lead-normal">
                          <!--[--><span class="text-muted-500 dark:text-muted-400 line-clamp-4">{{event.description}}</span>
                          <!--]-->
                        </p>
                        <div class="flex flex-wrap items-center gap-2 py-4">
                            {% for tag in event.tags %}
                          <!--[--><span class="nui-tag nui-tag-sm nui-tag-curved nui-tag-solid nui-tag-default text-xs"><!--[-->{{tag}}<!--]--></span>
                          {% endfor %}
                          <!--]-->
                        </div>
                        <div class="flex items-center justify-between">
                          <div>
                            <div class="nui-avatar-group nui-avatar-group-xs">
                              <!--[-->
                              <!--[-->
                              <div class="nui-avatar-outer">
                                <div class="nui-avatar nui-avatar-xs nui-avatar-full bg-primary-500/20 text-primary-500 !scale-90" tooltip="Clark Smith" tabindex="0">
                                  <div class="nui-avatar-inner">
                                    <!--[--><img src="{{ url_for('static', filename='img/avatar.png') }}" class="nui-avatar-full nui-avatar-img">
                                    <!---->
                                    <!---->
                                    <!--]-->
                                  </div>
                                  <!---->
                                  <!---->
                                </div>
                              </div>
                              <!--]-->
                              <div class="nui-avatar-count">
                                <div class="nui-avatar-count-inner">
                                  <span class="nui-avatar-count-text">
                                    +{% if event.num_p is not defined %}0{% else %}{{event.num_p}}{% endif %}</span>
                                </div>
                              </div>
                              <!--]-->
                            </div>
                          </div>
                          <div class="flex gap-2">
                            {% if event.is_registered %}
                            <button type="button" rel="" target="" class="nui-button nui-button-medium nui-button-curved nui-button-solid nui-button-primary w-24" disabled>
                              <!--[-->
                              Registered
                              <!--]--><!---->
                            </button>
                            {% elif event.is_volunteered and event.type=="Competition" %}
                            <button type="button" rel="" target="" class="nui-button nui-button-medium nui-button-curved nui-button-solid nui-button-primary w-24" disabled>
                              <!--[-->
                              Ineligible
                              <!--]--><!---->
                            </button>
                            {% elif user.utype!="admin" and user.utype!="organiser" %}
                            <button type="button" data-event="{{event.e_id}}" rel="" target="" class="register_event nui-button nui-button-medium nui-button-curved nui-button-solid nui-button-primary w-24" >
                              <!--[-->
                              Register
                              <!--]--><!---->
                            </button>
                            {% endif %}
                            <a href="/event/{{event.e_id}}"><button type="button" rel="" target="_blank" class="nui-button nui-button-medium nui-button-curved nui-button-solid nui-button-default w-24">
                              <!--[-->Details
                              <!--]-->
                              <!---->
                            </button>
                          </a>
                          </div>
                        </div>
                      </div>
                    </div>
                    <!--]-->
                  </div>
                </div>
                {% endfor %}
                <!--]-->
              </div>
            </div>
          </div>
        </div>
        <!--]-->
        <!--]-->
      </main>
    </div>
  </div>
  <div>
    <!---->
    <div role="button" tabindex="0" class="opacity-0 pointer-events-none bg-muted-800/60 fixed start-0 top-0 z-[99] size-full cursor-pointer transition-opacity duration-300"></div>
  </div>
  <div class="after:bg-primary-600 after:shadow-primary-500/50 dark:after:shadow-muted-800/10 fixed end-[1em] top-[0.6em] z-[90] transition-transform duration-300 after:absolute after:end-0 after:top-0 after:block after:size-12 after:rounded-full after:shadow-lg after:transition-transform after:duration-300 after:content-[''] -translate-y-24">
    <button type="button" class="bg-primary-500 shadow-primary-500/50 dark:shadow-muted-800/10 relative z-30 flex size-12 items-center justify-center rounded-full text-white shadow-lg">
      <span class="-top-0.5 relative block size-3 transition-all duration-300"><span class="top-0.5 bg-muted-50 absolute block h-0.5 w-full transition-all duration-300"></span><span class="bg-muted-50 absolute top-1/2 block h-0.5 w-full transition-all duration-300"></span><span class="bottom-0 bg-muted-50 absolute block h-0.5 w-full transition-all duration-300"></span></span>
    </button>
    <div>
      <!--[-->
      <!--[-->
      <div class="translate-x-0 translate-y-0 absolute end-[0.2em] top-[0.2em] z-20 flex items-center justify-center transition-all duration-300">
        <label class="nui-theme-toggle nui-theme-toggle-inverted ms-auto"><input type="checkbox" class="nui-theme-toggle-input"><span class="nui-theme-toggle-inner"><svg aria-hidden="true" viewBox="0 0 24 24" class="nui-sun">
              <g fill="currentColor" stroke="currentColor" class="stroke-2">
                <circle cx="12" cy="12" r="5"></circle>
                <path d="M12 1v2m0 18v2M4.22 4.22l1.42 1.42m12.72 12.72 1.42 1.42M1 12h2m18 0h2M4.22 19.78l1.42-1.42M18.36 5.64l1.42-1.42"></path>
              </g></svg><svg aria-hidden="true" viewBox="0 0 24 24" class="nui-moon">
              <path fill="currentColor" stroke="currentColor" d="M21 12.79A9 9 0 1 1 11.21 3 7 7 0 0 0 21 12.79z" class="stroke-2"></path></svg></span></label>
      </div>
      <!--]-->
      <!--[-->
      <div class="translate-x-0 translate-y-0 absolute end-[0.2em] top-[0.2em] z-20 flex items-center justify-center transition-all duration-300">
        <button type="button" class="bg-primary-700 flex size-9 items-center justify-center rounded-full transition-all duration-300">
          <img class="size-7 rounded-full" src="{{ url_for('static', filename='img/avatar.png') }}" alt="flag icon">
        </button>
      </div>
      <!--]-->
      <!--[-->
      <div class="translate-x-0 translate-y-0 absolute end-[0.2em] top-[0.2em] z-20 flex items-center justify-center transition-all duration-300">
        <a aria-current="page" href="/dashboards/jobs#" class="router-link-active router-link-exact-active inline-flex size-9 items-center justify-center rounded-full transition-all duration-300"><span class="bg-primary-700 flex size-9 items-center justify-center rounded-full"><svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" aria-hidden="true" role="img" class="icon size-5 text-white" style="" width="1em" height="1em" viewBox="0 0 256 256" data-v-7663d7ec="">
              <g fill="currentColor">
                <path d="M208 192H48a8 8 0 0 1-6.88-12C47.71 168.6 56 139.81 56 104a72 72 0 0 1 144 0c0 35.82 8.3 64.6 14.9 76a8 8 0 0 1-6.9 12" opacity=".2"></path>
                <path d="M221.8 175.94c-5.55-9.56-13.8-36.61-13.8-71.94a80 80 0 1 0-160 0c0 35.34-8.26 62.38-13.81 71.94A16 16 0 0 0 48 200h40.81a40 40 0 0 0 78.38 0H208a16 16 0 0 0 13.8-24.06M128 216a24 24 0 0 1-22.62-16h45.24A24 24 0 0 1 128 216m-80-32c7.7-13.24 16-43.92 16-80a64 64 0 1 1 128 0c0 36.05 8.28 66.73 16 80Z"></path>
              </g></svg></span></a>
      </div>
      <!--]-->
      <!--[-->
      <div class="translate-x-0 translate-y-0 absolute end-[0.2em] top-[0.2em] z-20 flex items-center justify-center transition-all duration-300">
        <button type="button" class="bg-primary-700 flex size-9 items-center justify-center rounded-full transition-all duration-300">
          <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" aria-hidden="true" role="img" class="icon size-5 text-white" style="" width="1em" height="1em" viewBox="0 0 256 256" data-v-7663d7ec="">
            <g fill="currentColor">
              <path d="M112 80a32 32 0 1 1-32-32a32 32 0 0 1 32 32m64 32a32 32 0 1 0-32-32a32 32 0 0 0 32 32m-96 32a32 32 0 1 0 32 32a32 32 0 0 0-32-32m96 0a32 32 0 1 0 32 32a32 32 0 0 0-32-32" opacity=".2"></path>
              <path d="M80 40a40 40 0 1 0 40 40a40 40 0 0 0-40-40m0 64a24 24 0 1 1 24-24a24 24 0 0 1-24 24m96 16a40 40 0 1 0-40-40a40 40 0 0 0 40 40m0-64a24 24 0 1 1-24 24a24 24 0 0 1 24-24m-96 80a40 40 0 1 0 40 40a40 40 0 0 0-40-40m0 64a24 24 0 1 1 24-24a24 24 0 0 1-24 24m96-64a40 40 0 1 0 40 40a40 40 0 0 0-40-40m0 64a24 24 0 1 1 24-24a24 24 0 0 1-24 24"></path>
            </g>
          </svg>
        </button>
      </div>
      <!--]-->
      <!--]-->
    </div>
  </div>
</div>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>

<script>
   $(document).ready(function(){
           $.ajaxSetup({
  contentType: "application/json; charset=utf-8"
});
$("#ekeywords").on("input",function(){
  var val=$(this).val().toLowerCase();
  console.log(val);
  var num=0;
  $(".event-card").each(function() {
        var dataName = $(this).data("name").toLowerCase();
        var dataTags = $(this).data("tags").toLowerCase();
        var dataType = $(this).data("type").toLowerCase();
        if (val==""|| dataName.includes(val) || dataTags.includes(val) || dataType.includes(val)) {
            $(this).css("display", "block");
            num+=1;
        }
        else  $(this).css("display", "none");

        $("#num_events").text("Showing "+num+" events")

      });
      
    })
    $("#type-select").on("input",function(){
  var val=$("#type-select").val()

  var num=0;
  $(".event-card").each(function() {
         var dataType = $(this).data("type").toLowerCase();
         if (val=="all" || dataType.includes(val)) {
             $(this).css("display", "block");
             num+=1;
         }
         else  $(this).css("display", "none");
 
         $("#num_events").text("Showing "+num+" events")
 
     });
})


$(".etype").on("change",function(){
  var val=$(this).val().toLowerCase();
  console.log(val);
 
  var num=0;
  checked_types=[]
  $(".etype").each(function(){
    if($(this).prop("checked"))checked_types.push($(this).val())
  })
  if(checked_types.length==0)
  {
  $(".event-card").each(function() {
          
          var dataType = $(this).data("type").toLowerCase();
          if (true) {
              $(this).css("display", "block");
              num+=1;
          }
          else  $(this).css("display", "none");
  
          $("#num_events").text("Showing "+num+" events")
  
      });
    }
    else{

    $(".event-card").each(function() {
          
          var dataType = $(this).data("type").toLowerCase();
          console.log(dataType)
          if (checked_types.includes(dataType)) {
              $(this).css("display", "block");
              num+=1;
          }
          else  $(this).css("display", "none");
  
          $("#num_events").text("Showing "+num+" events")
  
      });
  
}

})

$(".tag-filter").on("change",function(){
  var val=$(this).val().toLowerCase();
  console.log(val);
 
  var num=0;
  checked_types=[]
  $(".tag-filter").each(function(){
    if($(this).prop("checked"))checked_types.push($(this).val().toLowerCase())
  })
  if(checked_types.length==0)
  {
  $(".event-card").each(function() {
          
          var dataType = $(this).data("type").toLowerCase();
          if (true) {
            $(this).css("display", "block");
            num+=1;
          }
          else  $(this).css("display", "none");
  
          $("#num_events").text("Showing "+num+" events")
  
      });
    }
    else{

    $(".event-card").each(function() {
          
          var dataType = $(this).data("type").toLowerCase();
          console.log(dataType)
          if (checked_types.includes(dataType)) {
              $(this).css("display", "block");
              num+=1;
          }
          else  $(this).css("display", "none");
  
          $("#num_events").text("Showing "+num+" events")
  
      });
  
}

})
$(".register_event").click(function(){
  {
    console.log(event.target.dataset)
    {% if user.is_authenticated %}
     $.post("/register_for_event", JSON.stringify({ e_id:event.target.dataset.event}), function(response){
      console.log("POST request successful");
      console.log(response); // Response from the server
    })
    .fail(function(xhr, status, error) {
      console.error("POST request failed");
      console.error(error); // Error message
    });
    $(this).text("Registered");
    $(this).prop("disabled", true);
    {% else %}
    window.location.href="/login";
    {% endif %}
  }
}
);
   });
</script>
{% endblock %}
