<!DOCTYPE html>
<html lang="en" dir="ltr" data-capo="">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>Event Management</title>
    <link
      rel="stylesheet"
      href="{{ url_for('static', filename='css/tailwind.css') }}"
    />
  <script src="https://cdn.tailwindcss.com"></script>
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.1/css/fontawesome.min.css" integrity="sha512-d0olNN35C6VLiulAobxYHZiXJmq+vl+BGIgAxQtD5+kqudro/xNMvv2yIHAciGHpExsIbKX3iLg+0B6d0k4+ZA==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link rel="icon" type="image/png" href="/img/favicon.png" />
    <meta name="og:image:width" content="1200" />
    <meta name="og:image:height" content="630" />
    <meta
      name="og:image"
      content="https://media.cssninja.io/embed/marketplace/product/wide.png?headline=Jobs%20dashboard%20-%20For%20recruitment%20and%20job%20search&url=https%3A%2F%2Fmedia.cssninja.io%2Fcontent%2Fproducts%2Flogos%2Ftairo-text-white.svg&previewUrl=https%3A%2F%2Ftairo.cssninja.io%2Fimg%2Fscreens%2Fdashboards-jobs.png"
    />
  </head>

  <body>
<div id="__nuxt">
      <div>
        <!---->
        <!---->
        <div class="bg-muted-100 dark:bg-muted-900 pb-20">
            <div>
                <!--[-->
                <div class="nuxt-loading-indicator" style="position:fixed;top:0;right:0;left:0;pointer-events:none;width:auto;height:3px;opacity:0;background:rgb(var(--color-primary-500));background-size:Infinity% auto;transform:scaleX(0%);transform-origin:left;transition:transform 0.1s, height 0.4s, opacity 0.4s;z-index:999999;"></div>
                <div class="dark:bg-muted-800 flex min-h-screen bg-white">
                    <div class="bg-black dark:bg-muted-900 relative hidden w-0 flex-1 items-center justify-center lg:flex">
                        <div class="mx-auto w-full flex size-full items-center justify-center"><img class="mx-0 w-full" src="{{ url_for('static', filename='img/fest.jpg') }}" alt=""></div>
                    </div>
                    <div class="relative flex flex-1 flex-col justify-center px-6 py-12 lg:w-2/5 lg:flex-none">
                        <div class="dark:bg-muted-800 relative mx-auto w-full max-w-sm bg-white">
                            <div class="flex w-full items-center justify-between"><a href="/dashboards" class="text-muted-400 hover:text-primary-500 flex items-center gap-2 font-sans font-medium transition-colors duration-300"><svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" aria-hidden="true" role="img" class="icon size-5" style="" width="1em" height="1em" viewBox="0 0 24 24" data-v-7663d7ec><path fill="currentColor" d="m1.027 11.993l4.235 4.25L6.68 14.83l-1.821-1.828L22.974 13v-2l-18.12.002L6.69 9.174L5.277 7.757z"/></svg><span>Back to Home</span></a>
                                
                            </div>
                            <div>
                                <h2 class="nui-heading nui-heading-3xl nui-weight-medium nui-lead-relaxed mt-6">
                                    <!--[-->Welcome back.
                                    <!--]-->
                                </h2>
                                
                               
                            </div>
                            <div class="mt-6">
                            <div class="w-full">
                                <p id="error_box" class="pb-3 font-semibold text-md text-center text-red-400">{% if error!="None" %}{{error}}{% endif %}</p>
                            <div class="relative right-0">
                            <ul
                            class="relative flex flex-wrap p-1 list-none rounded-xl bg-slate-200"
                            data-tabs="tabs"
                            role="list"
                            >
                            <li class="z-30 flex-auto text-center">
                            <a
                                class="z-30 flex items-center justify-center w-full px-0 py-1 mb-0 transition-all ease-in-out border-0 rounded-lg cursor-pointer text-slate-700 bg-inherit"
                                data-tab-target=""
                                active=""
                                role="tab"
                                aria-selected="true"
                                aria-controls="participant"
                            >
                                <span class="ml-1">Participant</span>
                            </a>
                            </li>
                            <li class="z-30 flex-auto text-center">
                            <a
                                class="z-30 flex items-center justify-center w-full px-0 py-1 mb-0 transition-all ease-in-out border-0 rounded-lg cursor-pointer text-slate-700 bg-inherit"
                                data-tab-target=""
                                role="tab"
                                aria-selected="false"
                                aria-controls="student"
                            >
                                <span class="ml-1">Student</span>
                            </a>
                            </li>
                            <li class="z-30 flex-auto text-center">
                            <a
                                class="z-30 flex items-center justify-center w-full px-0 py-1 mb-0 transition-all ease-in-out border-0 rounded-lg cursor-pointer text-slate-700 bg-inherit"
                                data-tab-target=""
                                role="tab"
                                aria-selected="false"
                                aria-controls="organiser"
                            >
                                <span class="ml-1">Organiser</span>
                            </a>
                            </li>
                            <li class="z-30 flex-auto text-center">
                            <a
                                class="z-30 flex items-center justify-center w-full px-0 py-1 mb-0 transition-all ease-in-out border-0 rounded-lg cursor-pointer text-slate-700 bg-inherit"
                                data-tab-target=""
                                role="tab"
                                aria-selected="false"
                                aria-controls="admin"
                            >
                                <span class="ml-1">Admin</span>
                            </a>
                            </li>
                            </ul>
                            <div data-tab-content="" class="p-5">
                            <div class="block opacity-100" id="participant" role="tabpanel">
                            <p class="block font-sans text-base antialiased font-light leading-relaxed text-inherit text-blue-gray-500">
                                <div class="mt-3">
                                    <p class="text-slate-600">Login to access exciting events and funfilled activities!</p>
                                    <form method="POST" action="/login" class="mt-6" novalidate >
                                        <div class="space-y-4">
                                            <!--[-->
                                            <div class="nui-input-wrapper nui-input-default nui-input-md nui-input-curved"><label for="ninja-input-8645" class="nui-input-label"><!--[-->Email address<!--]--></label>
                                                <div class="nui-input-outer">
                                                    <div><input id="ninja-input-8645" name="email" type="email" class="nui-input h-12" placeholder="Email address" value>
                                                        <!---->
                                                        <!---->
                                                        <!---->
                                                        <!--[-->
                                                        <!--]-->
                                                    </div>
                                                    <!---->
                                                </div>
                                            </div>
                                            <!--]-->
                                            <!--[-->
                                            <div class="nui-input-wrapper nui-input-default nui-input-md nui-input-curved"><label for="ninja-input-8646" class="nui-input-label"><!--[-->Password<!--]--></label>
                                                <div class="nui-input-outer">
                                                    <div><input id="ninja-input-8646" name="password" type="password" class="nui-input h-12" placeholder="Password" value>
                                                        <!---->
                                                        <!---->
                                                        <!---->
                                                        <!--[-->
                                                        <!--]-->
                                                    </div>
                                                    <!---->
                                                </div>
                                            </div>
                                            <!--]-->
                                        </div>
                                        <div class="mt-6 flex items-center justify-between">
                                            <!--[-->
                                            <div class="nui-checkbox nui-checkbox-curved nui-checkbox-primary">
                                                <div class="nui-checkbox-outer"><input id="ninja-input-8647" name="trust" true-value="true" false-value="false" class="nui-checkbox-input" type="checkbox">
                                                    <div class="nui-checkbox-inner"></div><svg aria-hidden="true" viewbox="0 0 17 12" class="nui-icon-check"><path fill="currentColor" d="M16.576.414a1.386 1.386 0 0 1 0 1.996l-9.404 9.176A1.461 1.461 0 0 1 6.149 12c-.37 0-.74-.139-1.023-.414L.424 6.998a1.386 1.386 0 0 1 0-1.996 1.47 1.47 0 0 1 2.046 0l3.68 3.59L14.53.414a1.47 1.47 0 0 1 2.046 0z"></path></svg>
                                                    <svg
                                                        aria-hidden="true" viewbox="0 0 24 24" class="nui-icon-indeterminate">
                                                        <path fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="4" d="M2 12h20"></path>
                                                        </svg>
                                                </div>
                                                <div class="nui-checkbox-label-wrapper"><label for="ninja-input-8647" class="nui-checkbox-label-text"><!--[-->Trust for 60 days<!--]--></label>
                                                    <!---->
                                                </div>
                                            </div>
                                            <!--]-->
                                        </div>
                                        <div class="mt-6">
                                            <div class="block w-full rounded-md shadow-sm"><button type="submit" rel target class="nui-button nui-button-medium nui-button-curved nui-button-solid nui-button-primary !h-11 w-full"><!--[--> Sign in <!--]--><!----></button></div>
                                        </div>
                                            <input value="Participant" name="ftype" type="text" class="nui-input h-12" style="display:none" >

                                    </form>
                                </div>
                            </p>
                            </div>
                            <div class="hidden opacity-0" id="student" role="tabpanel">
                            <p class="block font-sans text-base antialiased font-light leading-relaxed text-inherit text-blue-gray-500">
                                <div class="mt-3">
                                <p class="text-slate-600">Login to register or volunteer for events!</p>

                                    <form method="POST" action="/login" class="mt-6" novalidate >
                                        <div class="space-y-4">
                                            <!--[-->
                                            <div class="nui-input-wrapper nui-input-default nui-input-md nui-input-curved"><label for="ninja-input-8645" class="nui-input-label"><!--[-->Email address<!--]--></label>
                                                <div class="nui-input-outer">
                                                    <div><input id="ninja-input-8645" name="email" type="email" class="nui-input h-12" placeholder="Email address" value>
                                                        <!---->
                                                        <!---->
                                                        <!---->
                                                        <!--[-->
                                                        <!--]-->
                                                    </div>
                                                    <!---->
                                                </div>
                                            </div>
                                            <!--]-->
                                            <!--[-->
                                            <div class="nui-input-wrapper nui-input-default nui-input-md nui-input-curved"><label for="ninja-input-8646" class="nui-input-label"><!--[-->Password<!--]--></label>
                                                <div class="nui-input-outer">
                                                    <div><input id="ninja-input-8646" name="password" type="password" class="nui-input h-12" placeholder="Password" value>
                                                        <!---->
                                                        <!---->
                                                        <!---->
                                                        <!--[-->
                                                        <!--]-->
                                                    </div>
                                                    <!---->
                                                </div>
                                            </div>
                                            <!--]-->
                                        </div>
                                        <div class="mt-6 flex items-center justify-between">
                                            <!--[-->
                                            <div class="nui-checkbox nui-checkbox-curved nui-checkbox-primary">
                                                <div class="nui-checkbox-outer"><input id="ninja-input-8647" true-value="true" false-value="false" class="nui-checkbox-input" name="trust" type="checkbox">
                                                    <div class="nui-checkbox-inner"></div><svg aria-hidden="true" viewbox="0 0 17 12" class="nui-icon-check"><path fill="currentColor" d="M16.576.414a1.386 1.386 0 0 1 0 1.996l-9.404 9.176A1.461 1.461 0 0 1 6.149 12c-.37 0-.74-.139-1.023-.414L.424 6.998a1.386 1.386 0 0 1 0-1.996 1.47 1.47 0 0 1 2.046 0l3.68 3.59L14.53.414a1.47 1.47 0 0 1 2.046 0z"></path></svg>
                                                    <svg
                                                        aria-hidden="true" viewbox="0 0 24 24" class="nui-icon-indeterminate">
                                                        <path fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="4" d="M2 12h20"></path>
                                                        </svg>
                                                </div>
                                                <div class="nui-checkbox-label-wrapper"><label for="ninja-input-8647" class="nui-checkbox-label-text"><!--[-->Trust for 60 days<!--]--></label>
                                                    <!---->
                                                </div>
                                            </div>
                                            <!--]-->
                                        </div>
                                        <div class="mt-6">
                                            <div class="block w-full rounded-md shadow-sm"><button type="submit" rel target class="nui-button nui-button-medium nui-button-curved nui-button-solid nui-button-primary !h-11 w-full"><!--[--> Sign in <!--]--><!----></button></div>
                                        </div>
                                        <input value="Student" name="ftype" type="text" class="nui-input h-12" style="display:none" >

                                    </form>
                                </div>
                            </p>
                            </div>
                            <div class="hidden opacity-0" id="organiser" role="tabpanel">
                            <p class="block font-sans text-base antialiased font-light leading-relaxed text-inherit text-blue-gray-500">
                               <div class="mt-3">
                                    <p class="text-slate-600">Login to manage your events</p>

                                    <form method="POST" action="/login" class="mt-6" novalidate>
                                        <div class="space-y-4">
                                            <!--[-->
                                            <div class="nui-input-wrapper nui-input-default nui-input-md nui-input-curved"><label for="ninja-input-8645" class="nui-input-label"><!--[-->Email address<!--]--></label>
                                                <div class="nui-input-outer">
                                                    <div><input id="ninja-input-8645" name="email" type="email" class="nui-input h-12" placeholder="Email address" value>
                                                        <!---->
                                                        <!---->
                                                        <!---->
                                                        <!--[-->
                                                        <!--]-->
                                                    </div>
                                                    <!---->
                                                </div>
                                            </div>
                                            <!--]-->
                                            <!--[-->
                                            <div class="nui-input-wrapper nui-input-default nui-input-md nui-input-curved"><label for="ninja-input-8646" class="nui-input-label"><!--[-->Password<!--]--></label>
                                                <div class="nui-input-outer">
                                                    <div><input id="ninja-input-8646" name="password" type="password" class="nui-input h-12" placeholder="Password" value>
                                                        <!---->
                                                        <!---->
                                                        <!---->
                                                        <!--[-->
                                                        <!--]-->
                                                    </div>
                                                    <!---->
                                                </div>
                                            </div>
                                            <!--]-->
                                        </div>
                                        <div class="mt-6 flex items-center justify-between">
                                            <!--[-->
                                            <div class="nui-checkbox nui-checkbox-curved nui-checkbox-primary">
                                                <div class="nui-checkbox-outer"><input id="ninja-input-8647" true-value="true" false-value="false" class="nui-checkbox-input" name="trust" type="checkbox">
                                                    <div class="nui-checkbox-inner"></div><svg aria-hidden="true" viewbox="0 0 17 12" class="nui-icon-check"><path fill="currentColor" d="M16.576.414a1.386 1.386 0 0 1 0 1.996l-9.404 9.176A1.461 1.461 0 0 1 6.149 12c-.37 0-.74-.139-1.023-.414L.424 6.998a1.386 1.386 0 0 1 0-1.996 1.47 1.47 0 0 1 2.046 0l3.68 3.59L14.53.414a1.47 1.47 0 0 1 2.046 0z"></path></svg>
                                                    <svg
                                                        aria-hidden="true" viewbox="0 0 24 24" class="nui-icon-indeterminate">
                                                        <path fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="4" d="M2 12h20"></path>
                                                        </svg>
                                                </div>
                                                <div class="nui-checkbox-label-wrapper"><label for="ninja-input-8647" class="nui-checkbox-label-text"><!--[-->Trust for 60 days<!--]--></label>
                                                    <!---->
                                                </div>
                                            </div>
                                            <!--]-->
                                        </div>
                                        <div class="mt-6">
                                            <div class="block w-full rounded-md shadow-sm"><button type="submit" rel target class="nui-button nui-button-medium nui-button-curved nui-button-solid nui-button-primary !h-11 w-full"><!--[--> Sign in <!--]--><!----></button></div>
                                        </div>
                                                    <input value="Organiser" name="ftype" type="text" class="nui-input h-12" style="display:none" >

                                    </form>
                                </div>
                            </p>
                            </div>
                            <div class="hidden opacity-0" id="admin" role="tabpanel">
                            <p class="block font-sans text-base antialiased font-light leading-relaxed text-inherit text-blue-gray-500">
                               <div class="mt-3">
                                    <p class="text-slate-600">Login to manage the database</p>

                                    <form method="POST" action="/login" class="mt-6" novalidate>
                                        <div class="space-y-4">
                                            <!--[-->
                                            <div class="nui-input-wrapper nui-input-default nui-input-md nui-input-curved"><label for="ninja-input-8645" class="nui-input-label"><!--[-->Email address<!--]--></label>
                                                <div class="nui-input-outer">
                                                    <div><input id="ninja-input-8645" name="email" type="email" class="nui-input h-12" placeholder="Email address" value>
                                                        <!---->
                                                        <!---->
                                                        <!---->
                                                        <!--[-->
                                                        <!--]-->
                                                    </div>
                                                    <!---->
                                                </div>
                                            </div>
                                            <!--]-->
                                            <!--[-->
                                            <div class="nui-input-wrapper nui-input-default nui-input-md nui-input-curved"><label for="ninja-input-8646" class="nui-input-label"><!--[-->Password<!--]--></label>
                                                <div class="nui-input-outer">
                                                    <div><input id="ninja-input-8646" name="password" type="password" class="nui-input h-12" placeholder="Password" value>
                                                        <!---->
                                                        <!---->
                                                        <!---->
                                                        <!--[-->
                                                        <!--]-->
                                                    </div>
                                                    <!---->
                                                </div>
                                            </div>
                                            <!--]-->
                                        </div>
                                        <div class="mt-6 flex items-center justify-between">
                                            <!--[-->
                                            <div class="nui-checkbox nui-checkbox-curved nui-checkbox-primary">
                                                <div class="nui-checkbox-outer"><input id="ninja-input-8647" true-value="true" false-value="false" class="nui-checkbox-input" name="trust" type="checkbox">
                                                    <div class="nui-checkbox-inner"></div><svg aria-hidden="true" viewbox="0 0 17 12" class="nui-icon-check"><path fill="currentColor" d="M16.576.414a1.386 1.386 0 0 1 0 1.996l-9.404 9.176A1.461 1.461 0 0 1 6.149 12c-.37 0-.74-.139-1.023-.414L.424 6.998a1.386 1.386 0 0 1 0-1.996 1.47 1.47 0 0 1 2.046 0l3.68 3.59L14.53.414a1.47 1.47 0 0 1 2.046 0z"></path></svg>
                                                    <svg
                                                        aria-hidden="true" viewbox="0 0 24 24" class="nui-icon-indeterminate">
                                                        <path fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="4" d="M2 12h20"></path>
                                                        </svg>
                                                </div>
                                                <div class="nui-checkbox-label-wrapper"><label for="ninja-input-8647" class="nui-checkbox-label-text"><!--[-->Trust for 60 days<!--]--></label>
                                                    <!---->
                                                </div>
                                            </div>
                                            <!--]-->
                                        </div>
                                        <div class="mt-6">
                                            <div class="block w-full rounded-md shadow-sm"><button type="submit" rel target class="nui-button nui-button-medium nui-button-curved nui-button-solid nui-button-primary !h-11 w-full"><!--[--> Sign in <!--]--><!----></button></div>
                                        </div>
                                        <input value="Admin" name="ftype" type="text" class="nui-input h-12" style="display:none" >
                                    </form>
                                </div>
                            </p>
                            </div>
                            </div>
                            </div>
                            </div>
                                
                            </div>
                        </div>
                    </div>
                </div>
                <!--]-->
                <div>
                    <!---->
                    <div role="button" tabindex="0" class="opacity-0 pointer-events-none bg-muted-800/60 fixed start-0 top-0 z-[99] size-full cursor-pointer transition-opacity duration-300"></div>
                </div>
            </div>

        </div>
    </div>
</div>
<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script src="https://unpkg.com/@material-tailwind/html@latest/scripts/tabs.js"></script>
<script>
    $(document).ready(function(){
  $('form').change(function(event){
    $("#error_box").text("");
  })

});
 /*   $(document).ready(function(){
  $('form').submit(function(event){
    event.preventDefault(); // Prevent the default form submission

    // Serialize form data
    var formData = $(this).serialize();

    // Send form data using AJAX
    $.ajax({
      url: $(this).attr('action'),
      type: $(this).attr('method'),
      data: formData,
      success: function(response) {
        // Assuming the response is a JSON object
        // Store the response in localStorage
        console.log(response);
        var utype=response.utype;
        localStorage.setItem('user', JSON.stringify(response.user));
        localStorage.setItem('token', JSON.stringify(response.token));
        localStorage.setItem('utype':utype);
        // Optionally, you can redirect the user to another page
        window.location.href = "/dashboard";
      },
      error: function(xhr, status, error) {
        console.error("Form submission failed");
        console.error(error); // Error message
      }
    });
  });
});
*/

</script>
    </body>
