{% extends 'base.html' %}
{% block content %}
<div class="bg-muted-100 dark:bg-muted-900 relative min-h-screen w-full overflow-x-hidden px-4 transition-all duration-300 xl:px-10 xl:max-w-[calc(100%_-_300px)] xl:ms-[215px]">
  <div class="mx-auto w-full max-w-7xl">
    <!--[-->
    <div class="relative z-[1] mb-5 flex h-16 items-center gap-2">
      <button type="button" class="flex size-10 items-center justify-center -ms-3">
        <div class="scale-90 relative size-5">
          <span class="-rotate-45 rtl:rotate-45 max-w-[75%] top-1 bg-primary-500 absolute block h-0.5 w-full transition-all duration-300"></span><span class="opacity-0 translate-x-4 rtl:-translate-x-4 bg-primary-500 absolute top-1/2 block h-0.5 w-full max-w-[50%] transition-all duration-300"></span><span class="rotate-45 rtl:-rotate-45 max-w-[75%] bottom-1 bg-primary-500 absolute block h-0.5 w-full transition-all duration-300"></span>
        </div>
      </button>
      <h1 class="nui-heading nui-heading-2xl nui-weight-light nui-lead-normal text-muted-800 hidden md:block dark:text-white">
        <!--[-->
        <!--[-->Facilities
        <!--]-->
        <!--]-->
      </h1>
      <div class="ms-auto"></div>
      <div class="flex items-center gap-2 h-16">
        <!--[-->
        <!--]-->
        <!--[--><button type="button" class="border-muted-200 hover:ring-muted-200 dark:hover:ring-muted-700 dark:border-muted-700 dark:bg-muted-800 dark:ring-offset-muted-900 flex size-9 items-center justify-center rounded-full border bg-white ring-1 ring-transparent transition-all duration-300 hover:ring-offset-4">
          <img class="size-7 rounded-full" src="{{ url_for('static', filename='img/avatar.png') }}" alt="flag icon">
        </button>
        <!--]-->
        <!--[-->
        <div class="group inline-flex items-center justify-center text-right">
          <div data-headlessui-state="" class="relative size-9 text-left">
            <div id="headlessui-menu-button-19487" aria-haspopup="menu" aria-expanded="false" data-headlessui-state="">
              <button type="button" class="group-hover:ring-muted-200 dark:group-hover:ring-muted-700 dark:ring-offset-muted-900 inline-flex size-9 items-center justify-center rounded-full ring-1 ring-transparent transition-all duration-300 group-hover:ring-offset-4">
                <span class="border-muted-200 dark:border-muted-700 dark:bg-muted-800 flex size-9 items-center justify-center rounded-full border bg-white"><svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" aria-hidden="true" role="img" class="icon text-muted-400 size-5" style="" width="1em" height="1em" viewBox="0 0 256 256" data-v-7663d7ec="">
                    <g fill="currentColor">
                      <path d="M208 192H48a8 8 0 0 1-6.88-12C47.71 168.6 56 139.81 56 104a72 72 0 0 1 144 0c0 35.82 8.3 64.6 14.9 76a8 8 0 0 1-6.9 12" opacity=".2"></path>
                      <path d="M221.8 175.94c-5.55-9.56-13.8-36.61-13.8-71.94a80 80 0 1 0-160 0c0 35.34-8.26 62.38-13.81 71.94A16 16 0 0 0 48 200h40.81a40 40 0 0 0 78.38 0H208a16 16 0 0 0 13.8-24.06M128 216a24 24 0 0 1-22.62-16h45.24A24 24 0 0 1 128 216m-80-32c7.7-13.24 16-43.92 16-80a64 64 0 1 1 128 0c0 36.05 8.28 66.73 16 80Z"></path>
                    </g></svg></span>
              </button>
            </div>
            <!---->
          </div>
        </div>
        <!--]-->
        <!--[--><button type="button" class="border-muted-200 hover:ring-muted-200 dark:hover:ring-muted-700 dark:border-muted-700 dark:bg-muted-800 dark:ring-offset-muted-900 flex size-9 items-center justify-center rounded-full border bg-white ring-1 ring-transparent transition-all duration-300 hover:ring-offset-4">
          <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" aria-hidden="true" role="img" class="icon text-muted-400 size-5" style="" width="1em" height="1em" viewBox="0 0 256 256" data-v-7663d7ec="">
            <g fill="currentColor">
              <path d="M112 80a32 32 0 1 1-32-32a32 32 0 0 1 32 32m64 32a32 32 0 1 0-32-32a32 32 0 0 0 32 32m-96 32a32 32 0 1 0 32 32a32 32 0 0 0-32-32m96 0a32 32 0 1 0 32 32a32 32 0 0 0-32-32" opacity=".2"></path>
              <path d="M80 40a40 40 0 1 0 40 40a40 40 0 0 0-40-40m0 64a24 24 0 1 1 24-24a24 24 0 0 1-24 24m96 16a40 40 0 1 0-40-40a40 40 0 0 0 40 40m0-64a24 24 0 1 1-24 24a24 24 0 0 1 24-24m-96 80a40 40 0 1 0 40 40a40 40 0 0 0-40-40m0 64a24 24 0 1 1 24-24a24 24 0 0 1-24 24m96-64a40 40 0 1 0 40 40a40 40 0 0 0-40-40m0 64a24 24 0 1 1 24-24a24 24 0 0 1-24 24"></path>
            </g>
          </svg>
        </button>
        <!--]-->
        <!--[-->
        <div class="group inline-flex items-center justify-center text-right">
          <div data-headlessui-state="" class="relative size-9 text-left">
            <button class="group-hover:ring-primary-500 dark:ring-offset-muted-900 inline-flex size-9 items-center justify-center rounded-full ring-1 ring-transparent transition-all duration-300 group-hover:ring-offset-4" id="headlessui-menu-button-19489" aria-haspopup="menu" aria-expanded="false" data-headlessui-state="">
              <div class="relative inline-flex size-9 items-center justify-center rounded-full">
                <img src="{{ url_for('static', filename='img/avatar.png') }}" class="max-w-full rounded-full object-cover shadow-sm dark:border-transparent" alt="">
              </div>
            </button>
            <!---->
          </div>
        </div>
        <!--]-->
        <!--]-->
      </div>
    </div>
    <!--]-->
    <main>
      <!--[-->
      <!--[-->
      <div class="nuxt-loading-indicator" style="
          position: fixed;
          top: 0;
          right: 0;
          left: 0;
          pointer-events: none;
          width: auto;
          height: 3px;
          opacity: 0;
          background: rgb(var(--color-primary-500));
          background-size: Infinity% auto;
          transform: scaleX(0%);
          transform-origin: left;
          transition: transform 0.1s, height 0.4s, opacity 0.4s;
          z-index: 999999;
        "></div>
      <div>
        <div>
          <div>
            <div class="w-full mt-6">
    <div class="relative">
      <ul
        class="relative flex flex-wrap p-1 list-none rounded-xl bg-blue-gray-50/60"
        data-tabs="tabs"
        role="list"
      >
        <li class="z-30 flex-auto text-center">
          <a
            class="z-30 flex items-center justify-center w-full px-0 py-1 mb-0 transition-all ease-in-out border-0 rounded-lg cursor-pointer text-slate-700 bg-inherit"
            data-tab-target=""
            active=""
            role="tab"
            aria-selected="true"
            aria-controls="accomodation"
          >
            <span class="ml-1">Accomodation</span>
          </a>
        </li>
        <li class="z-30 flex-auto text-center">
          <a
            class="z-30 flex items-center justify-center w-full px-0 py-1 mb-0 transition-all ease-in-out border-0 rounded-lg cursor-pointer text-slate-700 bg-inherit"
            data-tab-target=""
            role="tab"
            aria-selected="false"
            aria-controls="food"
          >
            <span class="ml-1">Food</span>
          </a>
        </li>
        <li class="z-30 flex-auto text-center">
          <a
            class="z-30 flex items-center justify-center w-full px-0 py-1 mb-0 transition-all ease-in-out border-0 rounded-lg cursor-pointer text-slate-700 bg-inherit"
            data-tab-target=""
            role="tab"
            aria-selected="false"
            aria-controls="others"
          >
            <span class="ml-1">Others</span>
          </a>
        </li>
      </ul>
      <div data-tab-content="" class="p-5">
        <div class="block opacity-100" id="accomodation" role="tabpanel">
          <p class="block font-sans text-base antialiased font-light leading-relaxed text-inherit text-blue-gray-500">
             <form action="/subcribe_accomodation" method="POST" id="acco-form" class="mx-auto max-w-7xl px-4">
                        <div>
                            <div class="pt-8 text-center">
                                <p class="nui-heading nui-heading-3xl nui-weight-medium nui-lead-normal mb-2" tag="h2">
                                    <!--[-->Choose your Accomodation
                                    <!--]-->
                                </p>
                                <p class="nui-paragraph nui-paragraph-md nui-weight-normal nui-lead-normal text-muted-500 dark:text-muted-400 mb-8">
                                    <!--[-->We have a variety of plans to cater on your needs
                                    <!--]-->
                                </p>
                            </div>
                            <div>
                                <div class="w-full">
                                    <div class="mx-auto w-full">
                                        <div class="w-full">
                                            <div class="mx-auto mb-8 grid max-w-4xl gap-6 sm:grid-cols-3">
                                              <!---->
                                              {% for acco in accomodations %}
                                              <div class="group/nui-radio-headless relative">
                                                    <div class="relative">
                                                      <input id="ninja-input-10858" name="acco-{{acco.id}}" {%if user.acc_id==acco.id %}checked{% endif %} type="radio" value="{{acco.id}}" name="radio_custom" class="peer absolute inset-0 z-20 h-full w-full cursor-pointer opacity-0">
                                                        <!--[-->
                                                        <div class="nui-card nui-card-curved nui-card-white peer-checked:!border-primary-500 relative border-2 p-8 opacity-60 grayscale peer-checked:opacity-100 peer-checked:grayscale-0 peer-checked:[&amp;_.child]:!opacity-100">
                                                            <!--[-->
                                                            <div class="flex flex-col text-center"><img src="{% if acco.link is not defined %}{{ url_for('static', filename='img/home.jpg') }}{% else %}{{acco.link}}{% endif %}" alt="Accomodation" class="mx-auto mb-3 max-w-[160px]">
                                                                <p class="nui-heading nui-heading-md nui-weight-medium nui-lead-normal">
                                                                    <!--[-->{{acco.title}}
                                                                    <!--]-->
                                                                </p>
                                                                <p class="nui-paragraph nui-paragraph-xs nui-weight-normal nui-lead-snug text-muted-500 dark:text-muted-400">
                                                                    <!--[-->{{acco.desc}}
                                                                    <!--]-->
                                                                </p>
                                                                <div class="flex items-center justify-center gap-2 pt-4">
                                                                    <p class="nui-text nui-content-md nui-weight-normal nui-lead-normal">
                                                                        <!--[--><span>${{acco.price}}</span><span class="text-muted-400 text-xs"> /per day</span>
                                                                        <!--]-->
                                                                    </p>
                                                                </div>
                                                            </div>
                                                            <div class="child absolute end-2 top-3 opacity-0"><svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" aria-hidden="true" role="img" class="icon text-primary-500 size-7" style="" width="1em" height="1em" viewBox="0 0 256 256" data-v-7663d7ec=""><g fill="currentColor"><path d="M224 128a96 96 0 1 1-96-96a96 96 0 0 1 96 96" opacity=".2"></path><path d="M173.66 98.34a8 8 0 0 1 0 11.32l-56 56a8 8 0 0 1-11.32 0l-24-24a8 8 0 0 1 11.32-11.32L112 148.69l50.34-50.35a8 8 0 0 1 11.32 0M232 128A104 104 0 1 1 128 24a104.11 104.11 0 0 1 104 104m-16 0a88 88 0 1 0-88 88a88.1 88.1 0 0 0 88-88"></path></g></svg></div>
                                                            <!--]-->
                                                        </div>
                                                        <!--]-->
                                                      </div>
                                                    </div>
                                            {% endfor %}
                                            
                                              
                                            </div>
                                            <div class="mx-auto flex flex-col items-center">
                                                <button type="submit" class="nui-button nui-button-medium nui-button-curved nui-button-solid nui-button-primary !h-12 w-48" rel="">
                                                    <!--[-->Confirm
                                                    <!--]-->
                                                    <!---->
                                                </button>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </form>
            <!--]-->
          </p>
        </div>
        <div class="hidden opacity-0" id="food" role="tabpanel">
          <p class="block font-sans text-base antialiased font-light leading-relaxed text-inherit text-blue-gray-500">
            <form action="/subcribe_food" method="POST" class="mx-auto max-w-7xl px-4">
                        <div>
                            <div class="pt-8 text-center">
                                <p class="nui-heading nui-heading-3xl nui-weight-medium nui-lead-normal mb-2" tag="h2">
                                    <!--[-->Food
                                    <!--]-->
                                </p>
                                <p class="nui-paragraph nui-paragraph-md nui-weight-normal nui-lead-normal text-muted-500 dark:text-muted-400 mb-8">
                                    <!--[-->Food is an essential part of the festival!
                                    <!--]-->
                                </p>
                            </div>
                            <div>
                                <div class="w-full">
                                    <div class="mx-auto w-full">
                                        <div class="w-full">
                                            <div class="mx-auto mb-8 grid max-w-4xl gap-6 sm:grid-cols-3">
                                                {% for plan in food %}
                                              <div class="group/nui-radio-headless relative">
                                                    <div class="relative">
                                                      <input id="ninja-input-10858" name="food-{{plan.id}}"  {%if user.food_id==plan.id %}checked{% endif %} type="radio" value="{{plan.id}}" class="peer absolute inset-0 z-20 h-full w-full cursor-pointer opacity-0">
                                                        <!--[-->
                                                        <div class="nui-card nui-card-curved nui-card-white peer-checked:!border-primary-500 relative border-2 p-8 opacity-60 grayscale peer-checked:opacity-100 peer-checked:grayscale-0 peer-checked:[&amp;_.child]:!opacity-100">
                                                            <!--[-->
                                                            <div class="flex flex-col text-center"><img src="{% if plan.link is not defined %}{{ url_for('static', filename='img/food.jpg') }}{% else %}{{plan.link}}{% endif %}" alt="Food" class="mx-auto mb-3 max-w-[160px]">
                                                                <p class="nui-heading nui-heading-md nui-weight-medium nui-lead-normal">
                                                                    <!--[-->{{plan.title}}
                                                                    <!--]-->
                                                                </p>
                                                                <p class="nui-paragraph nui-paragraph-xs nui-weight-normal nui-lead-snug text-muted-500 dark:text-muted-400">
                                                                    <!--[-->{{plan.desc}}
                                                                    <!--]-->
                                                                </p>
                                                                <div class="flex items-center justify-center gap-2 pt-4">
                                                                    <p class="nui-text nui-content-md nui-weight-normal nui-lead-normal">
                                                                        <!--[--><span>${{plan.price}}</span><span class="text-muted-400 text-xs"> /per day</span>
                                                                        <!--]-->
                                                                    </p>
                                                                </div>
                                                            </div>
                                                            <div class="child absolute end-2 top-3 opacity-0"><svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" aria-hidden="true" role="img" class="icon text-primary-500 size-7" style="" width="1em" height="1em" viewBox="0 0 256 256" data-v-7663d7ec=""><g fill="currentColor"><path d="M224 128a96 96 0 1 1-96-96a96 96 0 0 1 96 96" opacity=".2"></path><path d="M173.66 98.34a8 8 0 0 1 0 11.32l-56 56a8 8 0 0 1-11.32 0l-24-24a8 8 0 0 1 11.32-11.32L112 148.69l50.34-50.35a8 8 0 0 1 11.32 0M232 128A104 104 0 1 1 128 24a104.11 104.11 0 0 1 104 104m-16 0a88 88 0 1 0-88 88a88.1 88.1 0 0 0 88-88"></path></g></svg></div>
                                                            <!--]-->
                                                        </div>
                                                        <!--]-->
                                                      </div>
                                                    </div>
                                            {% endfor %}
                                            
                                              
                                            </div>
                                            <div class="mx-auto flex flex-col items-center">
                                              <button type="submit" class="nui-button nui-button-medium nui-button-curved nui-button-solid nui-button-primary !h-12 w-48" rel="">
                                                <!--[-->Confirm
                                                <!--]-->
                                                <!---->
                                            </button>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </form>
            <!--]-->
          </p>
        </div>
        <div class="hidden opacity-0" id="others" role="tabpanel">
          <p class="block font-sans text-base antialiased font-light leading-relaxed text-inherit text-blue-gray-500">
            <form action="/subscribe_facility" method="POST" class="mx-auto max-w-7xl px-4">
                        <div>
                            <div class="pt-8 text-center">
                                <p class="nui-heading nui-heading-3xl nui-weight-medium nui-lead-normal mb-2" tag="h2">
                                    <!--[-->Other Facilities
                                    <!--]-->
                                </p>
                                <p class="nui-paragraph nui-paragraph-md nui-weight-normal nui-lead-normal text-muted-500 dark:text-muted-400 mb-8">
                                    <!--[-->We have a variety of plans to cater on your needs
                                    <!--]-->
                                </p>
                            </div>
                            <div>
                                <div class="w-full">
                                    <div class="mx-auto w-full">
                                        <div class="w-full">
                                            <div class="mx-auto mb-8 grid max-w-4xl gap-6 sm:grid-cols-3">
                                                {% for item in facilities %}
                                              <div class="group/nui-radio-headless relative">
                                                    <div class="relative">
                                                      <input id="ninja-input-10858" checked="" type="checkbox" value="{{item.id}}" name="facility-{{item.id}}" class="peer absolute inset-0 z-20 h-full w-full cursor-pointer opacity-0">
                                                        <!--[-->
                                                        <div class="nui-card nui-card-curved nui-card-white peer-checked:!border-primary-500 relative border-2 p-8 opacity-60 grayscale peer-checked:opacity-100 peer-checked:grayscale-0 peer-checked:[&amp;_.child]:!opacity-100">
                                                            <!--[-->
                                                            <div class="flex flex-col text-center"><img src="{% if item.link is not defined %}{{ url_for('static', filename='img/facility.jpg') }}{% else %}{{item.link}}{% endif %}" alt="Accomodation" class="mx-auto mb-3 max-w-[160px]">
                                                                <p class="nui-heading nui-heading-md nui-weight-medium nui-lead-normal">
                                                                    <!--[-->{{item.title}}
                                                                    <!--]-->
                                                                </p>
                                                                <p class="nui-paragraph nui-paragraph-xs nui-weight-normal nui-lead-snug text-muted-500 dark:text-muted-400">
                                                                    <!--[-->{{item.desc}}
                                                                    <!--]-->
                                                                </p>
                                                                <div class="flex items-center justify-center gap-2 pt-4">
                                                                    <p class="nui-text nui-content-md nui-weight-normal nui-lead-normal">
                                                                        <!--[--><span>${{item.price}}</span><span class="text-muted-400 text-xs"> /per day</span>
                                                                        <!--]-->
                                                                    </p>
                                                                </div>
                                                            </div>
                                                            <div class="child absolute end-2 top-3 opacity-0"><svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" aria-hidden="true" role="img" class="icon text-primary-500 size-7" style="" width="1em" height="1em" viewBox="0 0 256 256" data-v-7663d7ec=""><g fill="currentColor"><path d="M224 128a96 96 0 1 1-96-96a96 96 0 0 1 96 96" opacity=".2"></path><path d="M173.66 98.34a8 8 0 0 1 0 11.32l-56 56a8 8 0 0 1-11.32 0l-24-24a8 8 0 0 1 11.32-11.32L112 148.69l50.34-50.35a8 8 0 0 1 11.32 0M232 128A104 104 0 1 1 128 24a104.11 104.11 0 0 1 104 104m-16 0a88 88 0 1 0-88 88a88.1 88.1 0 0 0 88-88"></path></g></svg></div>
                                                            <!--]-->
                                                        </div>
                                                        <!--]-->
                                                      </div>
                                                    </div>
                                            {% endfor %}
                                            
                                              
                                            </div>
                                            <div class="mx-auto flex flex-col items-center">
                                              <button type="submit" class="nui-button nui-button-medium nui-button-curved nui-button-solid nui-button-primary !h-12 w-48" rel="">
                                                <!--[-->Confirm
                                                <!--]-->
                                                <!---->
                                            </button>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </form>
            <!--]-->
          </p>
        </div>
      </div>
    </div>
  </div>
            <!--[-->
           
          </div>
        </div>
      </div>
      <!--]-->
      <!--]-->
    </main>
  </div>
</div>
{% endblock %}